Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Revert "preset-env (#124)"
  .babelrc
  package-lock.json
  package.json
Due: none

update husky to 0.15
  package-lock.json
  package.json
Due: none

update changelog
  docs/CHANGELOG.md
Due: prettier --write

0.18.0
  package-lock.json
  package.json
Due: none

add react.js to postpublish.js
  scripts/postpublish.js
Due: eslint --fix, prettier --write

update Client.md
  docs/api/Client.md
Due: prettier --write

update docs/react/boardgameio.min.js
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

update docs
  docs/multiplayer.md
  docs/tutorial.md
Due: prettier --write

Random API docs
  docs/_sidebar.md
  docs/api/Random.md
  docs/random.md
Due: prettier --write

update Game.md
  docs/api/Game.md
Due: prettier --write

add react.js to rollup config
  rollup.npm.js
Due: eslint --fix, prettier --write

0.18.1
  package-lock.json
  package.json
Due: none

default reverse order
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

cleaner reverse order
  src/core/turn-order.js
Due: eslint --fix, prettier --write

React-Native Client
  .babelrc
  .prettierignore
  package.json
  packages/main.js
  packages/react-native.js
  rollup.npm.js
  scripts/postpublish.js
  src/client/client.js
  src/client/react-native.js
Due: eslint --fix, prettier --write

React Native Client
  .prettierignore
  package.json
  packages/main.js
  packages/react-native.js
  rollup.npm.js
  src/client/client.js
  src/client/react-native.js
Due: eslint --fix, prettier --write

remove ptal recommendation from guidelines because only admins can set labels
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: prettier --write

MongoDB connector
  package-lock.json
  package.json
  src/client/multiplayer/multiplayer.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/server/db.js
  src/server/db.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

renamed to reverse
  package-lock.json
  package.json
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

calculate graphical properties in hexgrid (animation broken)
  src/ui/hex.js
  src/ui/token.js
Due: eslint --fix, prettier --write

replace lru-native with lru-cache
  package-lock.json
  package.json
  src/server/db.js
  src/server/db.test.js
Due: eslint --fix, prettier --write

add run() to Server
  docs/api/Server.md
  docs/multiplayer.md
  examples/server.js
  packages/server.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,md})
