Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

timer added
  src/core/flow.test.js
  src/core/timer.test.js
Due: eslint --fix, prettier --write

removed special treatment from reducer and added reducer test for reset
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

(show what is done, ask about tests)
  src/core/flow.test.js
Due: eslint --fix, prettier --write

minor tweaks
  src/client/react.js
  src/core/action-creators.js
  src/core/reducer.js
Due: eslint --fix, prettier --write

Reset Game (#155)
  src/client/client.js
  src/client/react.js
  src/client/react.test.js
  src/core/action-creators.js
  src/core/action-types.js
  src/core/flow.test.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

0.21.0
  package-lock.json
  package.json
Due: none

update docs/react/boardgameio.min.js
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

update changelog
  docs/CHANGELOG.md
Due: prettier --write

drop unneeded code
  examples/modules/turnorder/game.js
Due: eslint --fix, prettier --write

change from single- to multiplayer
  examples/modules/turnorder/components/view.js
  examples/server.js
Due: eslint --fix, prettier --write

reduce to 3 players
  examples/modules/turnorder/components/view.js
Due: eslint --fix, prettier --write

add start of visualization
  examples/modules/turnorder/components/board.js
Due: eslint --fix, prettier --write

allow to set action players
  examples/modules/turnorder/components/board.js
Due: eslint --fix, prettier --write

added correct capitialization and punctiaion per suggestion, as well as minor content updates
  docs/events.md
Due: prettier --write

fix md typo
  docs/events.md
Due: prettier --write

corrected info about undo/redo based on current api, and linked to undo/redo page
  docs/events.md
Due: prettier --write

initial implementation of allowedMoves as function
  src/core/flow.js
Due: eslint --fix, prettier --write

correctly detach APIs from ctx in startTurn
  src/core/flow.js
Due: eslint --fix, prettier --write

0.21.1
  package-lock.json
  package.json
Due: none

upated an allowed moves test to use a function
  src/core/flow.test.js
Due: eslint --fix, prettier --write

added mentions of allowedMoves as function in docs
  docs/api/Game.md
  src/core/flow.js
Due: eslint --fix, prettier --write

pass Events API correctly inside events.update
  src/core/reducer.js
Due: eslint --fix, prettier --write

0.21.2
  package-lock.json
  package.json
Due: none

show ctx data only once
  examples/modules/turnorder/components/board.js
  examples/modules/turnorder/components/view.css
  examples/modules/turnorder/components/view.js
Due: eslint --fix, prettier --write

visualize per-player state
  examples/modules/turnorder/components/board.js
  examples/modules/turnorder/components/view.js
Due: eslint --fix, prettier --write

Update changelog (#165)
  docs/CHANGELOG.md
Due: prettier --write

update Game.md
  docs/api/Game.md
Due: prettier --write

Allowed moves as function (#164)
  docs/api/Game.md
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

remove ability to override canMakeMove in FlowWithPhases
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

change mail
  src/core/flow.test.js
Due: eslint --fix, prettier --write

fake timers
  src/core/flow.test.js
Due: eslint --fix, prettier --write

make allowedMoves both global and phase-specific
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,md})
