Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fabricate playerID in singleplayer mode
  src/client/client.js
  src/client/client.test.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/reducer.js
Due: eslint --fix, prettier --write

Do not fabricate playerID for playerView
  src/client/client.js
  src/client/react-native.test.js
  src/client/react.test.js
Due: eslint --fix, prettier --write

write turn / phase stats in ctx.stats
  src/core/flow.js
  src/core/flow.test.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

update pull_request_template.md
  .github/pull_request_template.md
Due: prettier --write

remove some unnecessary tests
  examples/react/modules/chess/components/pieces/bishop.test.js
  examples/react/modules/chess/components/pieces/king.test.js
  examples/react/modules/chess/components/pieces/knight.test.js
  examples/react/modules/chess/components/pieces/pawn.test.js
  examples/react/modules/chess/components/pieces/queen.test.js
  examples/react/modules/chess/components/pieces/rook.test.js
Due: eslint --fix, prettier --write

swap order of ctx and G in debug UI
  src/client/debug/debug.js
Due: eslint --fix, prettier --write

Added ability to specify server protocol
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
Due: eslint --fix, prettier --write

Fixed protocol check would accept an occurance anywhere in server string
  src/client/multiplayer/multiplayer.js
Due: eslint --fix, prettier --write

Replaced var with let
  src/client/multiplayer/multiplayer.js
Due: eslint --fix, prettier --write

tighter regex
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
Due: eslint --fix, prettier --write

update docs
  docs/multiplayer.md
Due: prettier --write

Added ability to specify server protocol (#247)
  docs/multiplayer.md
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
Due: eslint --fix, prettier --write

update changelog
  docs/CHANGELOG.md
Due: prettier --write

npm run docsify:update
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

0.25.0
  package-lock.json
  package.json
Due: none

update CodeSandbox URL
  docs/tutorial.md
Due: prettier --write

allow multiplayer client creation to be overridden
  src/client/client.js
Due: eslint --fix, prettier --write

require mongo and firebase only if used
  package-lock.json
  src/server/db/firebase.js
  src/server/db/mongo.js
Due: eslint --fix, prettier --write

0.25.1
  package-lock.json
  package.json
Due: none

changelog
  docs/CHANGELOG.md
Due: prettier --write

update koa and socket.io
  package-lock.json
  package.json
Due: none

npm audit fix --only=prod
  package-lock.json
  package.json
Due: none

0.25.2
  package-lock.json
  package.json
Due: none

fix bug that was preventing playerID from being overriden by the debug ui
  src/client/react-native.js
  src/client/react.js
Due: eslint --fix, prettier --write

0.25.3
  package-lock.json
  package.json
Due: none

package-lock.json
  package-lock.json
Due: none

fix package-lock.json
  package-lock.json
Due: none

0.25.4
  package-lock.json
  package.json
Due: none

Update roadmap.md
  docs/roadmap.md
Due: prettier --write

drop _initial on action results
  src/client/multiplayer/multiplayer.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

transfer only deltalogs on actions sent to server
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

change reducer to only return a deltalog
  src/client/debug/debug.test.js
  src/client/log/log.test.js
  src/core/events.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/server/index.js
Due: eslint --fix, prettier --write

push coverage to 100% by dropping unused statements
  src/core/events.js
  src/server/index.js
Due: eslint --fix, prettier --write

use patch-1 of graceful-fs to avoid jest cache errors
  package-lock.json
  package.json
Due: none

add module 'Lobby' in examples to demonstrate lobby API
  examples/react/modules/lobby/components/lobby.css
  examples/react/modules/lobby/components/lobby.js
  examples/react/modules/lobby/index.js
  examples/react/modules/lobby/routes.js
  examples/react/modules/routes.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,md})
