Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add package-lock.json
  package-lock.json
Due: none

Add adminClient option for Firebase storage (#386)
  docs/storage.md
  package-lock.json
  package.json
  src/server/db/firebase.js
  src/server/db/firebase.test.js
Due: eslint --fix, prettier --write

synchronous mode for game master
  src/client/client.js
  src/client/client.test.js
  src/client/react.test.js
  src/client/transport/local.js
  src/master/master.js
  src/master/master.test.js
  src/server/api.js
  src/server/api.test.js
  src/server/db/inmemory.js
  src/server/transport/socketio.js
Due: eslint --fix

lobby: fix issue #390 - handle default number of players bigger than 2 for 1st game of the list
  src/lobby/create-room-form.js
  src/lobby/react.test.js
Due: eslint --fix

handle default number of players bigger than 2 for 1st game of the list (#392)
  src/lobby/create-room-form.js
  src/lobby/react.test.js
Due: eslint --fix

retire GetOpts
  src/client/client.js
  src/client/client.test.js
  src/client/react-native.js
  src/client/react.js
Due: eslint --fix

update testing.md
  docs/testing.md
Due: prettier --write

0.31.5
  package-lock.json
  package.json
Due: none

changelog
  docs/CHANGELOG.md
Due: prettier --write

update _undo to reflect current ctx
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix

add turn and phase to log entries
  examples/react-native/rn-cli.config.js
  src/client/client.test.js
  src/client/log/log.js
  src/client/log/log.test.js
  src/core/flow.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix

group undo/redo tests
  src/core/reducer.test.js
Due: eslint --fix

update _undo to reflect current ctx (#393)
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix

export FlatFile in server.js
  packages/server.js
Due: eslint --fix

Fixes some examples if you are running from other machine not localhost
  examples/react-web/src/chess/multiplayer.js
  examples/react-web/src/lobby/lobby.js
  examples/react-web/src/tic-tac-toe/authenticated.js
  examples/react-web/src/tic-tac-toe/spectator.js
Due: eslint --fix

Fixes some examples if you are running from other machine not localhost (#395)
  examples/react-web/src/chess/multiplayer.js
  examples/react-web/src/lobby/lobby.js
  examples/react-web/src/tic-tac-toe/authenticated.js
  examples/react-web/src/tic-tac-toe/spectator.js
Due: eslint --fix

Creating lobby API config and making the UUID customizable
  docs/_sidebar.md
  docs/api/Lobby.md
  docs/api/Server.md
  src/server/api.js
  src/server/api.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

Adding list of projects made with boardgame.io
  docs/README.md
  docs/made_with.md
Due: prettier --write

Fix prop name
  docs/secret-state.md
Due: prettier --write

Fix prop name (#398)
  docs/secret-state.md
Due: prettier --write

fix turn order simulator
  examples/react-web/src/turnorder/simulator.js
  src/client/client.js
Due: eslint --fix

some changes
  docs/README.md
  docs/made_with.md
Due: prettier --write

Creating list of projects made with boardgame.io (#397)
  docs/README.md
  docs/made_with.md
Due: prettier --write

Rename made_with.md to notable_projects.md, add to sidebar
  docs/_sidebar.md
  docs/notable_projects.md
Due: prettier --write

Remove notable projects from sidebar per review
  docs/_sidebar.md
  docs/notable_projects.md
Due: prettier --write

Change link in README.md for notable projects
  docs/README.md
Due: prettier --write

Use shortid for game IDs
  docs/api/Lobby.md
  package-lock.json
  package.json
  src/server/api.js
Due: eslint --fix, prettier --write

Update test to use shortid
  src/server/api.test.js
Due: eslint --fix

Rename gameInstances to rooms
  docs/api/API.md
  src/lobby/connection.js
  src/lobby/connection.test.js
  src/lobby/react.js
  src/lobby/react.test.js
  src/lobby/room-instance.js
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

Rename made_with.md to notable_projects.md (#401)
  docs/README.md
  docs/notable_projects.md
Due: prettier --write

Auto-add trailing slash to server only if needed
  package-lock.json
  src/client/transport/socketio.js
  src/client/transport/socketio.test.js
Due: eslint --fix

Document specifying server protocol
  docs/api/Client.md
Due: prettier --write

Rename gameInstances to rooms (#402)
  docs/api/API.md
  src/lobby/connection.js
  src/lobby/connection.test.js
  src/lobby/react.js
  src/lobby/react.test.js
  src/lobby/room-instance.js
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

undo package-lock.json change
  package-lock.json
Due: none

Auto-add trailing slash to server only if needed (#403)
  src/client/transport/socketio.js
  src/client/transport/socketio.test.js
Due: eslint --fix

Document specifying server protocol (#404)
  docs/api/Client.md
Due: prettier --write

fix heading sizes
  docs/api/Lobby.md
Due: prettier --write

fix grammar
  docs/api/Lobby.md
Due: prettier --write

fix capitalization
  docs/api/Lobby.md
Due: prettier --write

Filter some secrets from master data
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{css,md}
