Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

Rename back to uuid
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

Creating lobby API config and making the UUID customizable (#396)
  docs/_sidebar.md
  docs/api/Lobby.md
  docs/api/Server.md
  package-lock.json
  package.json
  src/server/api.js
  src/server/api.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

Get specific instance of a room by its ID
  docs/api/API.md
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

Get specific instance of a room by its ID (#405)
  docs/api/Lobby.md
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

More refactoring for lobby
  docs/api/Lobby.md
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

More refactoring for lobby (#406)
  docs/api/Lobby.md
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

add multiplayer undo example
  examples/react-web/src/routes.js
  examples/react-web/src/undo/board.js
  examples/react-web/src/undo/game.js
  examples/react-web/src/undo/index.js
Due: eslint --fix

return empty arrays instead of undefined
  src/master/master.js
Due: eslint --fix

update test
  src/master/master.test.js
Due: eslint --fix

Remove some secrets from client in multiplayer game (#400)
  examples/react-web/src/routes.js
  examples/react-web/src/undo/board.js
  examples/react-web/src/undo/game.js
  examples/react-web/src/undo/index.js
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix

0.31.6
  package-lock.json
  package.json
Due: none

update changelog
  docs/CHANGELOG.md
Due: prettier --write

update README
  README.md
Due: prettier --write

Check if required parameters are passed to API
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

Check if required parameters are passed to API (#407)
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

fix typo
  docs/testing.md
Due: prettier --write

Fix #345; restrict undo/redo to currentPlayer
  src/client/client.js
  src/core/action-creators.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix

Structuralize undo/redo test
  src/core/reducer.test.js
Due: eslint --fix

Regard undo/redo param playerID as required
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix

Add authentication to undo/redo
  src/client/client.js
  src/core/action-creators.js
Due: eslint --fix

Fix test
  src/client/react-native.test.js
  src/core/flow.test.js
Due: eslint --fix

ref(lobby): Use hooks for lobby [WIP]
  package-lock.json
  package.json
  src/lobby/react.js
  src/lobby/use-lobby.js
Due: eslint --fix

Update testing.md
  docs/testing.md
Due: prettier --write

upgrade koa and koa-body
  package-lock.json
  package.json
Due: none

0.31.7
  package-lock.json
  package.json
Due: none

changelog
  docs/CHANGELOG.md
Due: prettier --write

Add lobby rename
  docs/api/Lobby.md
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

Rename playerCredentials to credentials for /rename endpoint
  docs/api/Lobby.md
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

Add /rename endpoint for lobby (#414)
  docs/api/Lobby.md
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

fix test and move into client.test.js
  src/client/client.js
  src/client/client.test.js
  src/client/react-native.test.js
  src/client/react.test.js
  src/core/reducer.test.js
Due: eslint --fix

move undo guarding logic into master.js
  src/client/client.js
  src/client/client.test.js
  src/core/action-creators.js
  src/core/flow.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix

Fix #345; restrict undo/redo to currentPlayer (#408)
  src/client/client.test.js
  src/client/react-native.test.js
  src/client/react.test.js
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix

Rename playerCredentials to credentials for /leave endpoint, update src/lobby/connection.js accordingly
  docs/api/Lobby.md
  src/lobby/connection.js
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

Rename playerCredentials to credentials for /leave endpoint, update src/lobby/connection.js accordingly (#416)
  docs/api/Lobby.md
  src/lobby/connection.js
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

custom client transport should be a constructor (IMO)
  src/client/client.js
  src/client/client.test.js
Due: eslint --fix

change custom client transport to a constructor (#417)
  src/client/client.js
  src/client/client.test.js
Due: eslint --fix

remove socketOpts from custom transport args
  docs/api/Client.md
  src/client/client.js
Due: eslint --fix, prettier --write

0.32.0
  package-lock.json
  package.json
Due: none

Reset `_actionPlayersOnce` for phases without `actionPlayers` field
  src/core/turn-order.js
Due: eslint --fix
