Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

add react-native.js to postpublish
  scripts/postpublish.js
Due: eslint --fix, prettier --write

update readme
  README.md
  docs/README.md
Due: prettier --write

update readme
  README.md
Due: prettier --write

React-Native Tic-Tac-Toe Tutorial
  docs/_sidebar.md
  docs/tutorial-react-native.md
Due: prettier --write

Prettier?
  docs/api/Client.md
  docs/api/Random.md
  docs/api/Server.md
  examples/react-native/README.md
Due: prettier --write

update docs
  docs/concepts.md
  docs/immutability.md
Due: prettier --write

update docs
  docs/turn-order.md
Due: prettier --write

make cards draggable
  docs/storybook/iframe.html
  docs/storybook/index.html
  docs/storybook/static/manager.b2c9237c1b6891266378.bundle.js
  docs/storybook/static/manager.f270508796f491a0e4d6.bundle.js
  docs/storybook/static/preview.112e0c57dfa0c3024e79.bundle.js
  docs/storybook/static/preview.6af7ff2576fc76226a67.bundle.js
  package-lock.json
  package.json
  rollup.npm.js
  src/ui/card.css
  src/ui/card.js
  src/ui/card.ssr.test.js
  src/ui/card.test.js
  src/ui/deck.js
  storybook/CardStories.js
  storybook/card.js
Due: eslint --fix, prettier --write

Allow enhancers for react-native clients
  src/client/react-native.js
  src/client/react-native.test.js
Due: eslint --fix, prettier --write

Document the enhancer
  src/client/react-native.js
Due: eslint --fix, prettier --write

Allow enhancers for react-native clients (#184)
  src/client/react-native.js
  src/client/react-native.test.js
Due: eslint --fix, prettier --write

Revert "make cards draggable"
  docs/storybook/iframe.html
  docs/storybook/index.html
  docs/storybook/static/manager.b2c9237c1b6891266378.bundle.js
  docs/storybook/static/manager.f270508796f491a0e4d6.bundle.js
  docs/storybook/static/preview.112e0c57dfa0c3024e79.bundle.js
  docs/storybook/static/preview.6af7ff2576fc76226a67.bundle.js
  package-lock.json
  package.json
  rollup.npm.js
  src/ui/card.css
  src/ui/card.js
  src/ui/card.ssr.test.js
  src/ui/card.test.js
  src/ui/deck.js
  storybook/CardStories.js
  storybook/card.js
Due: eslint --fix, prettier --write

disable move if playerID is null
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

Fix typo in docs about phase
  docs/phases.md
Due: prettier --write

Fix typo in docs about phase (#192)
  docs/phases.md
Due: prettier --write

ensure endTurn is called only once after a move
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

* Add base class for Python bot development (#98) * Add example for a TicTacToe bot
  python/boardgameio.py
  python/examples/tic-tac-toe/boardgameio.py
  python/examples/tic-tac-toe/tictactoebot.py
Due: none

clarify the not-an-official project a bit more
  README.md
Due: prettier --write

Remove disclaimer from docs/README.md
  docs/README.md
Due: prettier --write

python bot: check that player_id is one of 'actionPlayers' before playing
  python/boardgameio.py
Due: none

Add error logging
  src/client/debug/debug.js
Due: eslint --fix, prettier --write

Create API support for authenticated games
  docs/api/Server.md
  examples/react/modules/tic-tac-toe/components/authenticated.js
  examples/react/modules/tic-tac-toe/routes.js
  package-lock.json
  package.json
  src/client/client.js
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
  src/client/react-native.js
  src/client/react-native.test.js
  src/client/react.js
  src/client/react.test.js
  src/core/action-creators.js
  src/server/api-server.js
  src/server/api-server.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

add AI object that returns the next moves for a given game state
  src/core/ai.js
  src/core/ai.test.js
  src/core/game.js
Due: eslint --fix, prettier --write

pin eslint-plugin-react version while figuring out a strategy to migrate React 16.3.0 methods
  package.json
Due: none

move AI stuff into separate dir
  src/ai/ai.js
  src/ai/ai.test.js
Due: eslint --fix, prettier --write

package-lock.json
  package-lock.json
Due: none

fix bug that was causing isActive to return false
  src/client/client.js
  src/core/flow.js
Due: eslint --fix, prettier --write

0.22.1
  package-lock.json
  package.json
Due: none

update changelog
  docs/CHANGELOG.md
Due: prettier --write

npm run docsify:update
  docs/CHANGELOG.md
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

Add a bunch of unit-tests for the python client
  python/.gitignore
  python/boardgameio.py
  python/test_boardgameio.py
Due: none

move AI section out of game object
  src/ai/ai.js
  src/ai/ai.test.js
  src/core/game.js
Due: eslint --fix, prettier --write

cleaner separation between canMakeMove and canPlayerMakeMove
  src/client/client.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/server/index.js
Due: eslint --fix, prettier --write

Add instructions for coverage of python client unit-tests (90%)
  python/.gitignore
  python/boardgameio.py
  python/test_boardgameio.py
Due: none

move action dispatching methods to class
  src/client/client.js
Due: eslint --fix, prettier --write

Change game creation param to `name`
  src/server/api-server.js
Due: eslint --fix, prettier --write

Test that joining a game that doesnt exist returns a failure
  src/server/api-server.test.js
Due: eslint --fix, prettier --write

make changeActionPlayers an opt-in event
  examples/react/modules/turnorder/game.js
  src/client/client.test.js
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write
