Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update tutorial.md
  docs/tutorial.md
Due: prettier --write

Update events.md
  docs/events.md
Due: prettier --write

examples: add demo of component Lobby
  examples/react/modules/lobby/components/board-chess.js
  examples/react/modules/lobby/components/board-tic-tac-toe.js
  examples/react/modules/lobby/components/board-turnorder.js
  examples/react/modules/lobby/components/checkerboard.js
  examples/react/modules/lobby/components/game-chess.js
  examples/react/modules/lobby/components/game-tic-tac-toe.js
  examples/react/modules/lobby/components/game-turnorder.js
  examples/react/modules/lobby/components/lobby.css
  examples/react/modules/lobby/components/lobby.js
  examples/react/modules/lobby/components/login-form.js
  examples/react/modules/lobby/components/pieces
  examples/react/modules/lobby/index.js
  examples/react/modules/lobby/routes.js
Due: eslint --fix, prettier --write

lobby: rebase onto master examples: refactor and add 'militia' to list of games of server and lobby
  examples/react/server.js
Due: eslint --fix

lobby: rebase onto master examples: refactor and add 'militia' to list of games of server and lobby
  examples/react/modules/lobby/components/board-chess.js
  examples/react/modules/lobby/components/board-tic-tac-toe.js
  examples/react/modules/lobby/components/board-turnorder.js
  examples/react/modules/lobby/components/checkerboard.js
  examples/react/modules/lobby/components/game-chess.js
  examples/react/modules/lobby/components/game-tic-tac-toe.js
  examples/react/modules/lobby/components/game-turnorder.js
  examples/react/modules/lobby/components/lobby.css
  examples/react/modules/lobby/components/lobby.js
  examples/react/modules/lobby/components/login-form.js
  examples/react/modules/lobby/components/pieces
  examples/react/modules/lobby/index.js
  examples/react/modules/lobby/routes.js
  examples/react/server.js
Due: eslint --fix, prettier --write

examples: fix behavior of lobby example when page is refreshed with F5
  examples/react/lobby/lobby.js
  lobby/lobby.js
  lobby/lobby.test.js
  lobby/react.js
Due: eslint --fix

Update README.md
  docs/README.md
Due: prettier --write

redact log instead of deltalog on sync
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix

lobby: simplify format of property 'gameComponents' / make react event handlers asynchronous
  lobby/create_room_form.js
  lobby/lobby.js
  lobby/lobby.test.js
  lobby/react.js
  lobby/react.test.js
Due: eslint --fix

lobby: add generic lobby implementation
  lobby/create_room_form.js
  lobby/lobby.js
  lobby/lobby.test.js
  lobby/react.js
  lobby/react.test.js
  lobby/room_instance.js
Due: eslint --fix

lobby: handle min/max number of players / fix synchro of game instances and disconnection
  lobby/create-room-form.js
  lobby/lobby.js
  lobby/lobby.test.js
  lobby/react.js
  lobby/react.test.js
  lobby/room-instance.js
Due: eslint --fix

server: small fix for Lobby component
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

examples: add demo of component Lobby
  examples/react/modules/lobby/components/board-chess.js
  examples/react/modules/lobby/components/board-tic-tac-toe.js
  examples/react/modules/lobby/components/board-turnorder.js
  examples/react/modules/lobby/components/checkerboard.js
  examples/react/modules/lobby/components/game-chess.js
  examples/react/modules/lobby/components/game-tic-tac-toe.js
  examples/react/modules/lobby/components/game-turnorder.js
  examples/react/modules/lobby/components/lobby.css
  examples/react/modules/lobby/components/lobby.js
  examples/react/modules/lobby/components/login-form.js
  examples/react/modules/lobby/components/pieces
  examples/react/modules/lobby/index.js
  examples/react/modules/lobby/routes.js
  examples/react/routes.js
  lobby/react.js
  package.json
Due: eslint --fix, prettier --write

lobby: rebase onto master examples: refactor and add 'militia' to list of games of server and lobby
  examples/react/lobby/board-chess.js
  examples/react/lobby/board-militia.js
  examples/react/lobby/board-tic-tac-toe.js
  examples/react/lobby/checkerboard.js
  examples/react/lobby/game-chess.js
  examples/react/lobby/game-militia.js
  examples/react/lobby/game-tic-tac-toe.js
  examples/react/lobby/index.js
  examples/react/lobby/lobby.css
  examples/react/lobby/lobby.js
  examples/react/lobby/login-form.js
  examples/react/lobby/pieces
  examples/react/lobby/routes.js
  examples/react/modules/lobby/components/board-chess.js
  examples/react/modules/lobby/components/board-tic-tac-toe.js
  examples/react/modules/lobby/components/board-turnorder.js
  examples/react/modules/lobby/components/checkerboard.js
  examples/react/modules/lobby/components/game-chess.js
  examples/react/modules/lobby/components/game-tic-tac-toe.js
  examples/react/modules/lobby/components/game-turnorder.js
  examples/react/modules/lobby/components/pieces
  examples/react/server.js
  examples/react/turnorder/board.js
  examples/react/turnorder/game.js
Due: eslint --fix, prettier --write

examples: removed 'militia' from list of games in lobby example
  examples/react/lobby/board-militia.js
  examples/react/lobby/game-militia.js
  examples/react/lobby/lobby.js
Due: eslint --fix

lobby: fix credentials and multiplayer bug at instantiation of game component
  examples/react/lobby/lobby.js
  lobby/react.js
  lobby/react.test.js
  lobby/room-instance.js
Due: eslint --fix

lobby: rebase onto master examples: refactor and add 'militia' to list of games of server and lobby
  examples/react/lobby/board-militia.js
  examples/react/lobby/game-militia.js
  examples/react/server.js
Due: eslint --fix

update README.md
  README.md
  docs/README.md
Due: prettier --write

update twitter card image
  docs/index.html
Due: none

Add a server sync status field
  src/client/client.js
  src/client/client.test.js
Due: eslint --fix

tweak test to verify the public API as opposed to the internal field
  src/client/client.test.js
Due: eslint --fix

Add a server sync status field (#307)
  src/client/client.js
  src/client/client.test.js
Due: eslint --fix

remove unused ctx parameter
  docs/api/Game.md
  examples/react/redacted-move/multiview.js
  src/core/flow.js
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix, prettier --write

Redact Log Events (#268)
  docs/api/Game.md
  examples/react/redacted-move/board.css
  examples/react/redacted-move/board.js
  examples/react/redacted-move/game.js
  examples/react/redacted-move/index.js
  examples/react/redacted-move/multiview.js
  examples/react/routes.js
  src/core/flow.js
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix, prettier --write

update Client.md
  docs/api/Client.md
Due: prettier --write

Add drag and drop capabilites to token and chess
  .gitignore
  examples/react/chess/board.js
  examples/react/chess/checkerboard.js
  examples/react/chess/checkerboard.test.js
  package-lock.json
  src/ui/grid.js
  src/ui/grid.test.js
  src/ui/hex.js
  src/ui/hex.test.js
  src/ui/token.js
  src/ui/token.test.js
Due: eslint --fix

update multiplayer.md
  docs/multiplayer.md
Due: prettier --write

Add getting game setup data from request body in game creation api
  src/core/reducer.js
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

Adds drag and drop capabilities to 2D touch
  examples/react/chess/board.js
  examples/react/chess/checkerboard.js
  examples/react/chess/checkerboard.test.js
  examples/react/server.js
  examples/react/webpack.dev.js
  package-lock.json
  src/ui/2d/grid.js
  src/ui/2d/grid.test.js
  src/ui/2d/hex.js
  src/ui/2d/hex.test.js
  src/ui/2d/token.js
  src/ui/2d/token.test.js
Due: eslint --fix

Update server.js
  examples/react/server.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{css,md}
