Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update changelog
  docs/CHANGELOG.md
Due: prettier --write

0.17.0
  package-lock.json
  package.json
Due: prettier --write

update docs/react/boardgameio.min.js
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

clean up ui.js in postpublish
  scripts/postpublish.js
Due: eslint --fix, prettier --write

update docs
  docs/phases.md
Due: prettier --write

update docs
  docs/_sidebar.md
  docs/phases.md
  docs/turn-order.md
Due: prettier --write

update docs
  docs/_sidebar.md
  docs/turn-order.md
Due: prettier --write

update docs
  docs/turn-order.md
Due: prettier --write

prevent endTurn when movesPerTurn have not been made
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

fix merge
  src/server/db.js
  src/server/db.test.js
  src/server/index.js
Due: eslint --fix, prettier --write

fix tests
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

make code in src/ more SSR friendly
  src/client/client.js
  src/client/log/log.js
  src/ui/card.js
Due: eslint --fix, prettier --write

add ssr.test.js
  src/client/ssr.test.js
Due: eslint --fix, prettier --write

Revert "add ssr.test.js"
  src/client/ssr.test.js
Due: eslint --fix, prettier --write

Revert "make code in src/ more SSR friendly"
  src/client/client.js
  src/client/log/log.js
  src/ui/card.js
Due: eslint --fix, prettier --write

Exposing Client connection status to board.
  docs/api/Client.md
  examples/modules/chess/components/board.js
  examples/modules/tic-tac-toe/components/board.js
  src/client/client.js
  src/client/client.test.js
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
  src/server/index.js
Due: eslint --fix, prettier --write

Fixing sublist on documentation
  docs/api/Client.md
Due: prettier --write

add command to release lib in docs
  package.json
  rollup.npm.js
  scripts/docsify-update.js
Due: eslint --fix, prettier --write

add more tests
  src/ui/card.test.js
  src/ui/deck.js
  src/ui/deck.test.js
Due: eslint --fix, prettier --write

add componentWillReceiveProps to Deck
  src/ui/deck.js
  src/ui/deck.test.js
Due: eslint --fix, prettier --write

add yarn.lock to .gitignore
  .gitignore
  yarn.lock
Due: none

check if cards are different in componentWillReceiveNewProps
  src/ui/deck.js
  src/ui/deck.test.js
Due: eslint --fix, prettier --write

Card and Deck (#74)
  .gitignore
  packages/ui.js
  src/ui/card.css
  src/ui/card.js
  src/ui/card.test.js
  src/ui/deck.css
  src/ui/deck.js
  src/ui/deck.test.js
  src/ui/logo.js
  src/ui/logo.test.js
  storybook/CardStories.js
  storybook/DeckStories.js
  storybook/PlayingCard.js
  storybook/deck.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,css,md})
