Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

Fix style in docs about game
  docs/api/Game.md
Due: prettier --write

Fix style in docs about game (#203)
  docs/api/Game.md
Due: prettier --write

Add superagent, move supertest to dev dependency
  package-lock.json
  package.json
Due: none

WIP Setup authenticated game during dev server startup
  examples/react/server.js
Due: eslint --fix, prettier --write

Clean up authenticated game setup
  examples/react/server.js
Due: eslint --fix, prettier --write

Create API support for authenticated games
  docs/api/Server.md
  examples/react/modules/tic-tac-toe/components/authenticated.js
  examples/react/modules/tic-tac-toe/routes.js
  package-lock.json
  package.json
  src/client/client.js
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
  src/client/react-native.js
  src/client/react-native.test.js
  src/client/react.js
  src/client/react.test.js
  src/core/action-creators.js
  src/server/api-server.js
  src/server/api-server.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

package-lock.json
  package-lock.json
Due: none

Change game creation param to `name`
  src/server/api-server.js
Due: eslint --fix, prettier --write

Test that joining a game that doesnt exist returns a failure
  src/server/api-server.test.js
Due: eslint --fix, prettier --write

Throw a 404 when the game to join is not found
  src/server/api-server.js
  src/server/api-server.test.js
Due: eslint --fix, prettier --write

standardize spacing
  src/server/index.js
Due: eslint --fix, prettier --write

add missing headers
  src/server/api-server.js
  src/server/api-server.test.js
Due: eslint --fix, prettier --write

rename api-server.js to api.js
  src/server/api.js
  src/server/api.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

pylint options
  python/boardgameio.py
  python/examples/tic-tac-toe/tictactoebot.py
Due: none

Move authenticated game setup to authenticated game example
  examples/react/modules/tic-tac-toe/components/authenticated.js
  examples/react/server.js
  examples/react/webpack.dev.js
Due: eslint --fix, prettier --write

replace deprecated function
  src/client/react.js
Due: eslint --fix, prettier --write

replace deprecated function (#205)
  src/client/react.js
Due: eslint --fix, prettier --write

make GameLog not use restore
  src/client/client.js
  src/client/debug/debug.js
  src/client/debug/debug.test.js
  src/client/log/log.js
  src/client/log/log.test.js
  src/client/react.js
  src/client/react.test.js
Due: eslint --fix, prettier --write

pass whole gameEvent to processGameEvent
  src/client/log/log.js
  src/core/events.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/core/turn-order.test.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

enable CORS on API server
  package-lock.json
  package.json
  src/server/api.js
  src/server/index.js
Due: eslint --fix, prettier --write

disallow changing the gameID in the example
  examples/react/modules/tic-tac-toe/components/authenticated.js
Due: eslint --fix, prettier --write

fix documentation
  docs/api/Server.md
Due: prettier --write

lobby API support (#189)
  docs/api/Server.md
  examples/react/modules/tic-tac-toe/components/authenticated.js
  examples/react/modules/tic-tac-toe/routes.js
  examples/react/server.js
  examples/react/webpack.dev.js
  package-lock.json
  package.json
  src/client/client.js
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
  src/client/react-native.js
  src/client/react-native.test.js
  src/client/react.js
  src/client/react.test.js
  src/core/action-creators.js
  src/server/api.js
  src/server/api.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

Allow the lobby API to require a secret for all requests
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

rename LOBBY_SECRET to something more generic
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

Allow the lobby API to require a secret for all requests (#204)
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

add roadmap to v1 document
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/roadmap.md
Due: prettier --write

Update roadmap.md
  docs/roadmap.md
Due: prettier --write

export createGameReducer
  packages/core.js
Due: eslint --fix, prettier --write

capitalize CreateGameReducer
  packages/core.js
  src/ai/ai.js
  src/ai/ai.test.js
  src/client/client.js
  src/client/client.test.js
  src/client/debug/debug.test.js
  src/client/log/log.test.js
  src/client/multiplayer/multiplayer.test.js
  src/core/events.test.js
  src/core/flow.test.js
  src/core/game.test.js
  src/core/random.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/core/turn-order.test.js
  src/server/api.js
  src/server/index.js
Due: eslint --fix, prettier --write

Update Server.md
  docs/api/Server.md
Due: prettier --write
