Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

changelog
  docs/CHANGELOG.md
Due: prettier --write

Add test case for modifying all players
  src/plugins/plugin-player.test.js
Due: eslint --fix

Add custom renderer parameter to lobby + clean up code (#353)
  src/lobby/connection.js
  src/lobby/create-room-form.js
  src/lobby/login-form.js
  src/lobby/react.js
  src/lobby/react.test.js
  src/lobby/room-instance.js
Due: eslint --fix

Fixing chess reload
  examples/react-web/src/chess/board.js
Due: eslint --fix

Fixing chess reload (#371)
  examples/react-web/src/chess/board.js
Due: eslint --fix

set 3D ground default to white
  src/ui/3d/ui.js
Due: eslint --fix

update testing docs
  docs/testing.md
Due: prettier --write

allow chess examples to reset properly
  examples/react-web/src/chess/board.js
  examples/react-web/src/ui/chess3d/board3d.js
Due: eslint --fix

Add flatfile db
  package-lock.json
  package.json
  src/server/db/flatfile.js
  src/server/db/flatfile.test.js
  src/server/db/index.js
Due: eslint --fix

flatfile: Add option to pass ttl to node-persist
  src/server/db/flatfile.js
Due: eslint --fix

Move node-persist to devDependencies
  package-lock.json
  package.json
Due: none

Update docs/storage.md
  docs/storage.md
Due: prettier --write

storage.md: Firebase -> the flatfile database
  docs/storage.md
Due: prettier --write

remove trailing whitespace
  docs/storage.md
Due: prettier --write

Add flatfile database with node-persist (#372)
  docs/storage.md
  package-lock.json
  package.json
  src/server/db/flatfile.js
  src/server/db/flatfile.test.js
  src/server/db/index.js
Due: eslint --fix, prettier --write

0.31.3
  package-lock.json
  package.json
Due: none

Making step accept a Promise from bot.play()
  src/client/client.js
  src/client/client.test.js
  src/client/debug/debug.js
  src/client/debug/debug.test.js
Due: eslint --fix

Adding step props to the Board
  src/client/react-native.js
  src/client/react.js
Due: eslint --fix

Making step accept a Promise from bot.play() (#375)
  src/client/client.js
  src/client/client.test.js
  src/client/debug/debug.js
  src/client/debug/debug.test.js
Due: eslint --fix

Adding step props to the Board (#376)
  src/client/react-native.js
  src/client/react.js
Due: eslint --fix

Log errors to console when debugging moves (#300)
  src/client/debug/debug-move.js
  src/client/debug/debug-move.test.js
  src/core/logger.js
  src/core/logger.test.js
Due: eslint --fix

wip: getter / setter
  src/plugins/plugin-player.js
  src/plugins/plugin-player.test.js
Due: eslint --fix

upgrade boardgame.io in examples/react-web
  examples/react-web/package.json
Due: none

python bot: fix #379 - replace unmaintained dependency socketIO_client with socketIO_client_nexus - handle new message 'update'
  python/boardgameio.py
  python/test_boardgameio.py
Due: none

python bot: fix #379 (#380)
  python/boardgameio.py
  python/test_boardgameio.py
Due: none

Add SQL connector
  docs/storage.md
  package-lock.json
  package.json
  packages/server.js
  src/server/db/index.js
  src/server/db/sql.js
  src/server/db/sql.test.js
Due: eslint --fix, prettier --write

Fix .set when updating an existing game state
  src/server/db/sql.js
  src/server/db/sql.test.js
Due: eslint --fix

upgrade Expo and fix React Native example
  examples/react-native/.babelrc
  examples/react-native/App.js
  examples/react-native/app.json
  examples/react-native/app.test.js
  examples/react-native/assets/icon.png
  examples/react-native/assets/splash.png
  examples/react-native/package-lock.json
  examples/react-native/package.json
  examples/react-native/rn-cli.config.js
  src/client/react-native.js
  src/client/react-native.test.js
Due: eslint --fix

0.31.4
  package-lock.json
  package.json
Due: none

upgrade boardgame.io in examples/react-native
  examples/react-native/package.json
Due: none

Fix error, add additional test
  src/server/db/sql.js
  src/server/db/sql.test.js
Due: eslint --fix

Don't leak undefined ctx properties from turnOrder.actionPlayers
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix

Don't leak undefined ctx properties from turnOrder.actionPlayers (#382)
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix

Fix race condition
  src/server/db/sql.js
Due: eslint --fix

Continue work on fixing race condition
  src/server/db/sql.js
Due: eslint --fix

Add adminClient option for Firebase storage
  docs/storage.md
  package-lock.json
  package.json
  src/server/db/firebase.js
  src/server/db/firebase.test.js
Due: eslint --fix, prettier --write

Fix Firebase Web SDK link
  docs/storage.md
Due: prettier --write

Revert package-lock.json
  package-lock.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{css,md}
