Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

merge militia example into turn order simulator
  examples/react/turnorder/index.js
  examples/react/turnorder/militia.css
  examples/react/turnorder/militia.js
  examples/react/turnorder/simulator.css
  examples/react/turnorder/simulator.js
Due: eslint --fix, prettier --write

Update tutorial: Illegal move hint.
  docs/tutorial.md
Due: prettier --write

Fixed warning in MongoDB and switched .insert() to .insertOne() Added process.env.MONGO_DATABASE to set the default database name for Mongo in DBFromEnv().
  src/server/db/index.js
  src/server/db/mongo.js
Due: eslint --fix

turnorder simulator css improvements
  examples/react/turnorder/simulator.css
  examples/react/turnorder/simulator.js
Due: eslint --fix, prettier --write

filter out moves that are not playable from the turn order simulator
  examples/react/turnorder/example-default.js
  examples/react/turnorder/example-militia.js
  examples/react/turnorder/simulator.js
Due: eslint --fix

player needs to be in actionPlayers in order to call events
  docs/events.md
  examples/react/turnorder/simulator.js
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

fix bug that was causing ctx.events to be undefined
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix

0.26.3
  package-lock.json
  package.json
Due: none

update changelog
  docs/CHANGELOG.md
Due: prettier --write

set militia example to go to the move phase at the start of each turn
  examples/react/turnorder/example-militia.js
  examples/react/turnorder/simulator.css
Due: eslint --fix, prettier --write

descriptions for turn order examples
  examples/react/turnorder/example-default.js
  examples/react/turnorder/example-militia.js
  examples/react/turnorder/simulator.css
  examples/react/turnorder/simulator.js
Due: eslint --fix, prettier --write

show phase in turn order simulator
  examples/react/turnorder/example-militia.js
  examples/react/turnorder/simulator.css
  examples/react/turnorder/simulator.js
Due: eslint --fix, prettier --write

fix typo
  examples/react/turnorder/example-militia.js
Due: eslint --fix

Remove gender specific pronoun
  docs/random.md
Due: prettier --write

Remove gender specific pronoun (#291)
  docs/random.md
Due: prettier --write

Update roadmap.md
  docs/roadmap.md
Due: prettier --write

missed the test cause of global environment variables used in Lusus
  src/server/db/index.test.js
Due: eslint --fix

add MONGO_DATABASE env variable (#290)
  src/server/db/index.js
  src/server/db/index.test.js
  src/server/db/mongo.js
Due: eslint --fix

fix turn order simulator css
  examples/react/turnorder/simulator.css
Due: prettier --write

npm run prettier
  src/server/db/index.js
Due: eslint --fix

add example to showcase redacted moves
  examples/react/redacted-move/board.css
  examples/react/redacted-move/board.js
  examples/react/redacted-move/game.js
  examples/react/redacted-move/index.js
  examples/react/redacted-move/multiview.js
  examples/react/routes.js
  src/core/flow.js
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix, prettier --write

drop stuff for redacted moves from secret-state example
  examples/react/secret-state/game.js
Due: eslint --fix

transform async/await in compile
  .babelrc
  package-lock.json
  package.json
Due: none

display entire log
  examples/react/redacted-move/board.js
Due: eslint --fix

use TurnOrder.ANY so that both 0 and 1 can play
  examples/react/redacted-move/game.js
Due: eslint --fix

lobby: add generic lobby implementation
  lobby/create_room_form.js
  lobby/lobby.js
  lobby/lobby.test.js
  lobby/react.js
  lobby/react.test.js
  lobby/room_instance.js
Due: eslint --fix

lobby: simplify format of property 'gameComponents' / make react event handlers asynchronous
  lobby/create_room_form.js
  lobby/lobby.js
  lobby/lobby.test.js
  lobby/react.js
  lobby/react.test.js
Due: eslint --fix

lobby: handle min/max number of players / fix synchro of game instances and disconnection
  lobby/create-room-form.js
  lobby/lobby.js
  lobby/lobby.test.js
  lobby/react.js
  lobby/react.test.js
  lobby/room-instance.js
Due: eslint --fix

examples: add demo of component Lobby
  examples/react/modules/lobby/components/board-chess.js
  examples/react/modules/lobby/components/board-tic-tac-toe.js
  examples/react/modules/lobby/components/board-turnorder.js
  examples/react/modules/lobby/components/checkerboard.js
  examples/react/modules/lobby/components/game-chess.js
  examples/react/modules/lobby/components/game-tic-tac-toe.js
  examples/react/modules/lobby/components/game-turnorder.js
  examples/react/modules/lobby/components/lobby.css
  examples/react/modules/lobby/components/lobby.js
  examples/react/modules/lobby/components/login-form.js
  examples/react/modules/lobby/components/pieces
  examples/react/modules/lobby/index.js
  examples/react/modules/lobby/routes.js
  examples/react/routes.js
  lobby/react.js
  package.json
Due: eslint --fix, prettier --write

server: small fix for Lobby component
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

lobby: rebase onto master examples: refactor and add 'militia' to list of games of server and lobby
  examples/react/lobby/board-chess.js
  examples/react/lobby/board-militia.js
  examples/react/lobby/board-tic-tac-toe.js
  examples/react/lobby/checkerboard.js
  examples/react/lobby/game-chess.js
  examples/react/lobby/game-militia.js
  examples/react/lobby/game-tic-tac-toe.js
  examples/react/lobby/index.js
  examples/react/lobby/lobby.css
  examples/react/lobby/lobby.js
  examples/react/lobby/login-form.js
  examples/react/lobby/pieces
  examples/react/lobby/routes.js
  examples/react/modules/lobby/components/board-chess.js
  examples/react/modules/lobby/components/board-tic-tac-toe.js
  examples/react/modules/lobby/components/board-turnorder.js
  examples/react/modules/lobby/components/checkerboard.js
  examples/react/modules/lobby/components/game-chess.js
  examples/react/modules/lobby/components/game-tic-tac-toe.js
  examples/react/modules/lobby/components/game-turnorder.js
  examples/react/modules/lobby/components/pieces
  examples/react/server.js
  examples/react/turnorder/board.js
  examples/react/turnorder/game.js
  examples/react/turnorder/simulator.js
Due: eslint --fix, prettier --write

docs: update doc for new server api endpoints 'leave' and 'list'
  docs/api/Server.md
Due: prettier --write

docs: update doc for new server api endpoints 'leave' and 'list' (#296)
  docs/api/Server.md
Due: prettier --write

change phases syntax
  docs/CHANGELOG.md
  docs/api/Game.md
  docs/phases.md
  docs/react/boardgameio.min.js
  docs/react/phases-2.html
  docs/turn-order.md
  examples/react/phases/diagram.js
  examples/react/phases/phases.js
  examples/react/turnorder/example-militia.js
  examples/react/turnorder/simulator.js
  src/client/client.test.js
  src/client/log/log.test.js
  src/client/react-native.test.js
  src/client/react.test.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/game.js
  src/core/game.test.js
  src/core/reducer.test.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

change semantics of enabling/disabling events
  docs/CHANGELOG.md
  docs/events.md
  examples/react/turnorder/example-militia.js
  src/client/client.js
  src/client/client.test.js
  src/core/flow.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

change format of args to endPhase and endTurn
  docs/CHANGELOG.md
  docs/phases.md
  docs/turn-order.md
  examples/react/turnorder/example-militia.js
  examples/react/turnorder/simulator.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/game.test.js
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

allow calling setActionPlayers via TurnOrder objects
  docs/CHANGELOG.md
  docs/turn-order.md
  src/core/flow.js
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

Update logger to use `console.error`
  src/core/logger.js
  src/core/logger.test.js
Due: eslint --fix

Log errors to console when debugging moves
  src/client/debug/debug-move.js
  src/client/debug/debug-move.test.js
Due: eslint --fix
