Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

Update docs and examples with single-port default server mode
  docs/api/API.md
  docs/api/Server.md
  examples/react-web/src/lobby/lobby.js
  examples/react-web/src/tic-tac-toe/authenticated.js
Due: eslint --fix, prettier --write

Allow https urls to be passed to lobby
  src/lobby/connection.js
Due: eslint --fix

Allow https urls to be passed to lobby (#350)
  src/lobby/connection.js
Due: eslint --fix

examples: fix URL's of servers in lobby example
  examples/react-web/src/lobby/lobby.js
Due: eslint --fix

lobby: fix single player mode
  src/lobby/react.js
Due: eslint --fix

update package-lock.json
  package-lock.json
Due: none

fix loading after merge
  examples/react-web/src/ui/chess3d/board3d.js
  examples/react-web/src/ui/chess3d/checkerboard3d.js
  examples/react-web/src/ui/drag-n-drop.js
  examples/react-web/src/ui/index.js
  examples/react-web/src/ui/loading.css
  examples/react-web/src/ui/test3d.js
  src/ui/3d/grid.js
  src/ui/3d/token.js
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

Add comments
  src/ui/3d/grid.js
  src/ui/3d/token.js
Due: eslint --fix

move loadmanager to ui implementation, fix three js global problem
  examples/react-web/src/ui/chess3d/board3d.js
  examples/react-web/src/ui/test3d.js
  src/ui/3d/loading.css
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

test3d caption
  examples/react-web/src/ui/test3d.js
Due: eslint --fix

edit some comments
  src/server/index.js
Due: eslint --fix

fix TODO about koa mock not being called
  src/server/index.test.js
Due: eslint --fix

wrap ports in Number()
  src/server/index.js
Due: eslint --fix

Fix lobby example (#351)
  examples/react-web/src/lobby/lobby.js
  src/lobby/react.js
Due: eslint --fix

Serve API and Game Server on same port with option to split (#343)
  docs/api/API.md
  docs/api/Server.md
  examples/react-web/src/lobby/lobby.js
  examples/react-web/src/tic-tac-toe/authenticated.js
  src/server/api.js
  src/server/api.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

remove redundant Number() calls
  src/server/index.js
Due: eslint --fix

add unit test for 3d/gird.js and 3d/token.js
  src/ui/3d/grid.js
  src/ui/3d/grid.test.js
  src/ui/3d/token.test.js
  src/ui/3d/ui.js
Due: eslint --fix

remove commented out line
  src/ui/3d/grid.test.js
Due: eslint --fix

Add custom renderer parameter to lobby + clean up code
  src/lobby/connection.js
  src/lobby/create-room-form.js
  src/lobby/login-form.js
  src/lobby/react.js
  src/lobby/react.test.js
  src/lobby/room-instance.js
Due: eslint --fix

change 3d/grid.js to deck.js style
  src/ui/3d/grid.js
Due: eslint --fix

change token.js style
  src/ui/3d/token.js
Due: eslint --fix

fix unit tests
  src/ui/3d/grid.js
  src/ui/3d/grid.test.js
  src/ui/3d/token.test.js
Due: eslint --fix

make token unrelated to grid
  src/ui/3d/grid.js
  src/ui/3d/token.js
Due: eslint --fix

Fixing bug, three should be a dependency
  package-lock.json
  package.json
Due: none

Fixing another bug, tween should be a dependency
  package-lock.json
  package.json
Due: none

Document playOrder for custom turn orders
  docs/turn-order.md
Due: prettier --write

update react-scripts in integration test
  integration/package.json
Due: none

Changing threejs from import to require()
  package.json
  src/ui/3d/card.js
  src/ui/3d/deck.js
  src/ui/3d/ui.js
Due: eslint --fix

Changed default Firebase return value to undefined
  src/server/db/firebase.js
  src/server/db/firebase.test.js
Due: eslint --fix

Document playOrder for custom turn orders (#359)
  docs/turn-order.md
Due: prettier --write

Changed default Firebase return value to undefined (#361)
  src/server/db/firebase.js
  src/server/db/firebase.test.js
Due: eslint --fix

Changed undefined values are now removing before state is persisted to Firebase
  src/server/db/firebase.js
  src/server/db/firebase.test.js
Due: eslint --fix

Removed unintentional new line
  src/server/db/firebase.js
Due: eslint --fix

rename parrent to parent
  src/ui/3d/grid.js
  src/ui/3d/token.js
  src/ui/3d/ui.js
Due: eslint --fix

remove unused state block
  src/ui/3d/ui.js
Due: eslint --fix

simplify while loop
  src/ui/3d/ui.js
Due: eslint --fix

3D Grid and Token (#352)
  examples/react-web/config/webpack.config.js
  examples/react-web/src/ui/chess3d/board3d.js
  examples/react-web/src/ui/chess3d/checkerboard3d.js
  examples/react-web/src/ui/chess3d/game.js
  examples/react-web/src/ui/chess3d/pieces/CREDITS
  examples/react-web/src/ui/chess3d/pieces/bishop.bin
  examples/react-web/src/ui/chess3d/pieces/bishop.gltf
  examples/react-web/src/ui/chess3d/pieces/king.bin
  examples/react-web/src/ui/chess3d/pieces/king.gltf
  examples/react-web/src/ui/chess3d/pieces/knight.bin
  examples/react-web/src/ui/chess3d/pieces/knight.gltf
  examples/react-web/src/ui/chess3d/pieces/pawn.bin
  examples/react-web/src/ui/chess3d/pieces/pawn.gltf
  examples/react-web/src/ui/chess3d/pieces/queen.bin
  examples/react-web/src/ui/chess3d/pieces/queen.gltf
  examples/react-web/src/ui/chess3d/pieces/rook.bin
  examples/react-web/src/ui/chess3d/pieces/rook.gltf
  examples/react-web/src/ui/chess3d/singleplayer3d.js
  examples/react-web/src/ui/drag-n-drop.js
  examples/react-web/src/ui/index.js
  examples/react-web/src/ui/test3d.js
  src/ui/3d/deck.js
  src/ui/3d/grid.js
  src/ui/3d/grid.test.js
  src/ui/3d/loading.css
  src/ui/3d/token.js
  src/ui/3d/token.test.js
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

0.31.2
  package-lock.json
  package.json
Due: none
