Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

remove global state
  examples/modules/random/game.js
  src/core/flow.js
  src/core/random.js
  src/core/random.test.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

update docs
  docs/api/Random.md
  docs/random.md
Due: prettier --write

remove from package
  packages/core.js
  packages/main.js
Due: eslint --fix, prettier --write

update docs
  docs/api/Game.md
Due: prettier --write

update docs
  docs/tutorial.md
Due: prettier --write

pass object instead of playerID to canMakeMove
  src/core/flow.js
  src/core/flow.test.js
  src/server/index.js
Due: eslint --fix, prettier --write

make validator and canMakeMove
  src/core/flow.js
  src/core/flow.test.js
  src/core/reducer.js
Due: eslint --fix, prettier --write

disallow currentPlayer to make moves by default
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

review comments
  src/core/flow.js
  src/core/game.js
  src/core/random.js
  src/core/random.test.js
  src/core/reducer.js
Due: eslint --fix, prettier --write

update docs/react/boardgameio.min.js
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

Make Random package not depend on global state (#146)
  docs/api/Game.md
  docs/api/Random.md
  docs/random.md
  docs/react/boardgameio.min.js
  docs/tutorial.md
  examples/modules/random/game.js
  packages/core.js
  packages/main.js
  src/core/flow.js
  src/core/game.js
  src/core/random.js
  src/core/random.test.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

0.20.2
  package-lock.json
  package.json
Due: none

update changelog
  docs/CHANGELOG.md
Due: prettier --write

Correct import typo in multiplayer docs
  docs/multiplayer.md
Due: prettier --write

Correct import typo in multiplayer docs (#148)
  docs/multiplayer.md
Due: prettier --write

add tests for undoableMoves
  src/client/client.test.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

implementing undoableMoves
  src/core/flow.js
Due: eslint --fix, prettier --write

updating undo/redo docs to include undoableMoves
  docs/api/Game.md
  docs/undo.md
Due: prettier --write

call canMakeMove in isActive computation
  src/client/client.js
Due: eslint --fix, prettier --write

minor style tweak
  src/core/flow.js
Due: eslint --fix, prettier --write

pass correct value of G in server/index.js
  src/server/index.js
Due: eslint --fix, prettier --write

pass playerID = undefined in singleplayer
  src/client/client.js
  src/core/flow.js
Due: eslint --fix, prettier --write

arg consistency in canMakeMOve
  src/core/reducer.js
Due: eslint --fix, prettier --write

remove ability to change actionPlayers from TurnOrder. Let's wait for the Events API and figure it out then.
  src/core/flow.js
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

pass entire payload object in server/index.js
  src/server/index.js
Due: eslint --fix, prettier --write

fix some comments
  src/core/flow.js
Due: eslint --fix, prettier --write

Add notion of actionPlayers (#145)
  src/client/client.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/reducer.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

update tests to get rid of the `undo` boolean
  src/client/client.test.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

remove `undo` boolean
  src/core/flow.js
Due: eslint --fix, prettier --write

update docs to show usage without the `undo` boolean
  docs/api/Game.md
  docs/undo.md
Due: prettier --write

allow a move to declare itself invalid by returning undefined
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

don't process move that is unknown to the game
  src/core/game.test.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

assuming all moves come with actions and payload, so updated failing test accordingly and got rid of check if action and payload is there
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

renamed to playOrder, added playOrderPos, currentPlayer is calculated from playOrder[playOrderPos]
  src/core/flow.js
  src/core/game.test.js
  src/core/turn-order.js
  src/core/turn-order.test.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

add onMouseOver and onMouseOut action props to grid/hex/token, fixes #152
  src/ui/grid.js
  src/ui/grid.test.js
  src/ui/hex.js
  src/ui/hex.test.js
  src/ui/token.js
  src/ui/token.test.js
Due: eslint --fix, prettier --write
