Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add mouse events
  examples/react/modules/ui/components/drag-n-drop.js
  src/ui/3d/card.js
  src/ui/3d/deck.js
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

draggable cards
  src/ui/3d/card.js
  src/ui/3d/deck.js
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

allow registering mouse events for groups
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

fix Token import
  packages/main.js
Due: eslint --fix, prettier --write

fix rollup errors
  rollup.npm.js
  src/ui/3d/card.js
Due: eslint --fix, prettier --write

update README
  README.md
  docs/README.md
Due: prettier --write

change test to bring coverage to 100%
  src/master/master.test.js
Due: eslint --fix, prettier --write

run test coverage in-band to mitigate Travis test problems
  package.json
Due: none

fix mouse offsets
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

handle scroll offsets
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

server: add implementation for new API 'list' and 'remove' in all supported DB
  src/server/db/firebase.js
  src/server/db/firebase.test.js
  src/server/db/inmemory.js
  src/server/db/inmemory.test.js
  src/server/db/mongo.js
  src/server/db/mongo.test.js
Due: eslint --fix, prettier --write

server: add new API endpoints 'list' and 'leave'
  src/server/api.js
  src/server/api.test.js
  src/server/db/inmemory.js
  src/server/db/inmemory.test.js
Due: eslint --fix, prettier --write

shouldEndPhase can see the results of onTurnEnd
  src/core/flow.js
Due: eslint --fix, prettier --write

no server for TurnExample and SecretState
  examples/react/modules/secret-state/components/multiview.js
  examples/react/server.js
Due: eslint --fix, prettier --write

do not show Click button to spectators
  examples/react/modules/secret-state/components/board.js
Due: eslint --fix, prettier --write

runInBand only on Travis
  .travis.yml
  package.json
Due: none

renamed evaluateRedactedMoves to redactLog
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix, prettier --write

server: add new API endpoints 'list' and 'leave' (#276)
  src/server/api.js
  src/server/api.test.js
  src/server/db/firebase.js
  src/server/db/firebase.test.js
  src/server/db/inmemory.js
  src/server/db/inmemory.test.js
  src/server/db/mongo.js
  src/server/db/mongo.test.js
Due: eslint --fix, prettier --write

update README
  README.md
Due: prettier --write

delete .travis.yml
  .travis.yml
Due: none

change badges
  README.md
  docs/README.md
Due: prettier --write

switch from Travis to Semaphore (#278)
  .travis.yml
  README.md
  docs/README.md
Due: prettier --write

fix sempahore badge
  README.md
  docs/README.md
Due: prettier --write

ignore all but left-click on mouse events
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

cleaner handling of middle / right click
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

allow setting z axis value for Card
  src/ui/3d/card.js
Due: eslint --fix, prettier --write

only drag one object
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

support card images
  src/ui/3d/card.js
Due: eslint --fix, prettier --write

darken plane
  src/ui/3d/ui.js
Due: eslint --fix, prettier --write

cards receive shadows
  src/ui/3d/card.js
Due: eslint --fix, prettier --write

Update roadmap.md
  docs/roadmap.md
Due: prettier --write

remove payload from tic-tac-toe (will add it to a separate example in the future)
  examples/react/modules/tic-tac-toe/game.js
Due: eslint --fix, prettier --write

update npm lockfile
  package-lock.json
Due: none

call the client subscribe callback after LogMiddleware has run
  src/client/client.js
Due: eslint --fix, prettier --write

fix log css
  src/client/log/log.css
Due: prettier --write

repo updates after move
  CONTRIBUTING.md
  README.md
  docs/README.md
Due: prettier --write

rename repo references to new location
  CONTRIBUTING.md
  README.md
  docs/CHANGELOG.md
  docs/README.md
  docs/api/Server.md
  docs/index.html
  docs/phases.md
  docs/roadmap.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Re Arrange React Client Docs
  docs/api/Client.md
  package-lock.json
Due: prettier --write

npm audit --fix
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,md})
