Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

TypeScript (#431)
  .gitignore
  AUTHORS
  babel.config.js
  package-lock.json
  package.json
  packages/server.ts
  rollup.npm.js
  src/client/debug/debug.test.js
  src/master/master.test.js
  src/server/api.test.js
  src/server/api.ts
  src/server/db/firebase.test.js
  src/server/index.test.ts
  src/server/index.ts
  src/server/transport/socketio.test.js
  src/ui/2d/token.test.js
  tsconfig.json
Due: eslint --fix

Mimic Node.js module resolution
  tsconfig.json
Due: none

Mimic Node.js module resolution (#433)
  tsconfig.json
Due: none

update roadmap.md
  roadmap.md
Due: prettier --write

add benchmark
  benchmark/index.js
  package-lock.json
  package.json
Due: eslint --fix

update benchmark
  benchmark/index.js
Due: eslint --fix

fix test warnings about svg elements
  src/ui/2d/grid.js
  src/ui/3d/grid.test.js
Due: eslint --fix

fix test coverage
  src/ui/2d/grid.js
  src/ui/2d/token.js
Due: eslint --fix

Upgrade dependencies to fix potential security vulnerabilities as reported by npm
  package-lock.json
  package.json
Due: none

Upgrade dependencies to fix potential security vulnerabilities as reported by npm (#434)
  package-lock.json
  package.json
Due: none

update package-lock.json
  package-lock.json
Due: none

fix lint errors
  src/client/transport/local.js
  src/client/transport/local.test.js
  src/server/db/mongo.js
Due: eslint --fix

invoke prettier --write in .lintstagedrc
  .lintstagedrc
Due: none

rename deprecated react lifecycle methods
  src/ai/mcts-visualizer.js
  src/client/react-native.js
Due: eslint --fix

Surface game metadata and player nicknames in client / react props
  src/client/client.js
  src/client/react-native.js
  src/client/react.js
  src/client/transport/local.js
  src/client/transport/socketio.js
  src/master/master.js
Due: eslint --fix

Add gameMetadata to Client documentation
  docs/documentation/api/Client.md
Due: prettier --write

Do not send credentials to clients in metadata, update documentation, add tests
  docs/documentation/api/Client.md
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix, prettier --write

remove unnecessary code from client.js
  src/client/client.js
  src/client/client.test.js
Due: eslint --fix

Address review
  src/client/client.js
  src/client/transport/local.js
  src/master/master.js
Due: eslint --fix

Surface game metadata and player nicknames in client / react props (#436)
  docs/documentation/api/Client.md
  src/client/client.js
  src/client/client.test.js
  src/client/react-native.js
  src/client/react.js
  src/client/transport/local.js
  src/client/transport/socketio.js
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix, prettier --write

retire Game(). call it internally instead.
  packages/core.js
  src/ai/bot.test.js
  src/client/client.js
  src/client/client.test.js
  src/client/debug/debug.test.js
  src/client/log/log.test.js
  src/client/react-native.test.js
  src/client/react.ssr.test.js
  src/client/react.test.js
  src/client/transport/local.test.js
  src/client/transport/socketio.test.js
  src/core/events.test.js
  src/core/flow.test.js
  src/core/game.js
  src/core/game.test.js
  src/core/random.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/core/turn-order.test.js
  src/master/master.js
  src/master/master.test.js
  src/plugins/main.test.js
  src/plugins/plugin-immer.test.js
  src/plugins/plugin-player.test.js
  src/server/api.test.js
  src/server/index.test.ts
  src/server/index.ts
  src/server/transport/socketio.test.js
Due: eslint --fix

nest turns inside phases
  src/client/log/log.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/game.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/core/turn-order.js
  src/core/turn-order.test.js
  src/master/master.test.js
Due: eslint --fix

allow debug pane to display namespaced moves
  src/client/debug/debug.js
  src/client/debug/debug.test.js
Due: eslint --fix

fix import
  packages/main.js
Due: eslint --fix

long form move syntax
  src/core/game.js
  src/core/game.test.js
Due: eslint --fix

trim packages a bit
  packages/core.js
  packages/internal.js
  packages/main.js
Due: eslint --fix

update test
  src/core/turn-order.test.js
Due: eslint --fix

make optimistic an option in long-form move syntax
  src/core/flow.js
  src/core/flow.test.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix

move onTurnBegin/onTurnEnd/endTurnIf/movesPerTurn into turn object
  examples/react-native/game.js
  examples/react-web/src/chess/game.js
  examples/react-web/src/ui/chess3d/game.js
  src/ai/bot.test.js
  src/client/log/log.test.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/game.js
  src/core/random.test.js
  src/core/reducer.test.js
  src/plugins/plugin-immer.test.js
Due: eslint --fix

update integration test
  integration/src/game.js
Due: eslint --fix

move redactedMoves into a boolean option in the long form move syntax
  src/core/flow.js
  src/core/game.js
  src/core/reducer.js
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix

allow defining phases in both flow and the top-level
  examples/react-web/src/phases/phases.js
  src/core/flow.js
Due: eslint --fix

convert startingPhase into boolean option
  src/client/client.test.js
  src/client/log/log.test.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/game.test.js
  src/core/reducer.test.js
  src/core/turn-order.test.js
  src/master/master.test.js
  src/plugins/plugin-immer.test.js
Due: eslint --fix

remove Game constructor from examples
  examples/react-native/game.js
  examples/react-web/src/chess/game.js
  examples/react-web/src/phases/diagram.js
  examples/react-web/src/phases/phases.js
  examples/react-web/src/random/game.js
  examples/react-web/src/redacted-move/game.js
  examples/react-web/src/secret-state/game.js
  examples/react-web/src/tic-tac-toe/game.js
  examples/react-web/src/turnorder/example-any-once.js
  examples/react-web/src/turnorder/example-any.js
  examples/react-web/src/turnorder/example-custom-from.js
  examples/react-web/src/turnorder/example-custom.js
  examples/react-web/src/turnorder/example-default.js
  examples/react-web/src/turnorder/example-once.js
  examples/react-web/src/turnorder/example-others-once.js
  examples/react-web/src/turnorder/example-others.js
  examples/react-web/src/ui/chess3d/game.js
  examples/react-web/src/ui/drag-n-drop.js
  examples/react-web/src/ui/test3d.js
  examples/react-web/src/undo/game.js
Due: eslint --fix

retire allowedMoves
  examples/react-web/src/phases/phases.js
  examples/react-web/src/turnorder/example-any-once.js
  examples/react-web/src/turnorder/example-others-once.js
  examples/react-web/src/turnorder/simulator.js
  src/client/client.test.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/core/turn-order.test.js
  src/master/master.test.js
Due: eslint --fix

move onMove inside turn object
  src/core/flow.js
  src/core/flow.test.js
  src/plugins/plugin-immer.test.js
Due: eslint --fix

retire flow section
  examples/react-native/game.js
  examples/react-web/src/chess/game.js
  examples/react-web/src/phases/diagram.js
  examples/react-web/src/phases/phases.js
  examples/react-web/src/redacted-move/game.js
  examples/react-web/src/tic-tac-toe/game.js
  examples/react-web/src/turnorder/example-any-once.js
  examples/react-web/src/turnorder/example-any.js
  examples/react-web/src/turnorder/example-custom-from.js
  examples/react-web/src/turnorder/example-custom.js
  examples/react-web/src/turnorder/example-once.js
  examples/react-web/src/turnorder/example-others-once.js
  examples/react-web/src/turnorder/example-others.js
  examples/react-web/src/ui/chess3d/game.js
  src/ai/bot.test.js
  src/client/client.test.js
  src/client/debug/debug.test.js
  src/client/log/log.test.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/game.js
  src/core/game.test.js
  src/core/random.test.js
  src/core/reducer.test.js
  src/core/turn-order.test.js
  src/plugins/plugin-immer.test.js
Due: eslint --fix

update turn order simulator
  examples/react-web/src/turnorder/simulator.js
  src/core/turn-order.test.js
Due: eslint --fix

update militia unit test
  src/core/turn-order.test.js
Due: eslint --fix

move canUndoMove into reducer.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/game.js
  src/core/reducer.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{css,md}
