Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

package-lock.json
  package-lock.json
Due: none

add sql objects to package
  packages/server.js
Due: eslint --fix, prettier --write

expose Debug element
  packages/react.js
Due: eslint --fix, prettier --write

debug ui css tweak
  src/client/debug/debug.css
Due: prettier --write

migrate componentWillReceiveProps to componentDidUpdate
  src/client/react.js
Due: eslint --fix, prettier --write

expose Debug element (#229)
  packages/react.js
Due: eslint --fix, prettier --write

ability to change playerID from debug ui
  examples/react/modules/tic-tac-toe/components/board.js
  src/client/debug/debug.css
  src/client/debug/debug.js
  src/client/debug/gameinfo.js
  src/client/react.js
Due: eslint --fix, prettier --write

simplify canPlayerMakeMove
  src/client/client.js
  src/client/react-native.test.js
  src/client/react.test.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

Revert "simplify canPlayerMakeMove"
  src/client/client.js
  src/client/react-native.test.js
  src/client/react.test.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

Revert "ability to change playerID from debug ui"
  examples/react/modules/tic-tac-toe/components/board.js
  src/client/debug/debug.css
  src/client/debug/debug.js
  src/client/debug/gameinfo.js
  src/client/react.js
Due: eslint --fix, prettier --write

ability to change playerID from Debug UI
  examples/react/modules/tic-tac-toe/components/board.js
  src/client/client.js
  src/client/debug/debug.css
  src/client/debug/debug.js
  src/client/debug/gameinfo.js
  src/client/debug/playerinfo.js
  src/client/debug/playerinfo.test.js
  src/client/react-native.test.js
  src/client/react.js
  src/client/react.test.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

0.24.0
  package-lock.json
  package.json
Due: none

update changelog
  docs/CHANGELOG.md
Due: prettier --write

docsify:update
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

disable gameinfo section in examples
  docs/react/boardgameio.min.js
  docs/react/example-1.html
  docs/react/example-2.html
  docs/react/example-3.html
  docs/react/phases-1.html
  docs/react/phases-2.html
  src/client/debug/debug.js
  src/client/debug/gameinfo.test.js
  src/client/react.js
  src/client/react.test.js
Due: eslint --fix, prettier --write

update codesandbox url
  docs/tutorial.md
Due: prettier --write

make games/create RESTful
  docs/api/Server.md
  examples/react/modules/tic-tac-toe/components/authenticated.js
  packages/client.js
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

API: check secret _before_ handling the request
  src/server/api.js
Due: eslint --fix, prettier --write

keep async-await in secret check
  src/server/api.js
Due: eslint --fix, prettier --write

API: check secret _before_ handling the request (#231)
  src/server/api.js
Due: eslint --fix, prettier --write

Update tutorial.md
  docs/tutorial.md
Due: prettier --write

attach events API early so that it can be used on the first onTurnBegin
  src/core/reducer.js
Due: eslint --fix, prettier --write

set default RNG seed once per game, not game type
  src/core/game.js
  src/core/random.test.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

Update pull_request_template.md
  .github/pull_request_template.md
Due: prettier --write

allow https support
  src/client/multiplayer/multiplayer.js
Due: eslint --fix, prettier --write

move dependencies to devDependencies
  package-lock.json
  package.json
Due: none

fix some rollup warnings by adding node-builtins
  package-lock.json
  package.json
  rollup.npm.js
Due: eslint --fix, prettier --write

add storage.md
  docs/_sidebar.md
  docs/multiplayer.md
  docs/storage.md
Due: prettier --write

update storage.md
  docs/storage.md
Due: prettier --write

fix tutorial code for AI
  docs/tutorial.md
Due: prettier --write

fix tutorial code for AI (#237)
  docs/tutorial.md
Due: prettier --write

update supported redux range to '3.7.2 - 4'
  package-lock.json
  package.json
Due: none

update redux to 4.0.0
  package-lock.json
  package.json
Due: none

npm run docsify:update
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

don't render AI metadata if visualize is not specified
  src/client/debug/debug.js
Due: eslint --fix, prettier --write

ai visualization css fix
  src/client/debug/debug.css
  src/client/debug/debug.js
  src/client/debug/debug.test.js
Due: eslint --fix, prettier --write

labels for nodes in the AI visualization
  src/ai/mcts-visualizer.css
  src/ai/mcts-visualizer.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,md})
