Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Card and Deck (#74)
  .gitignore
  packages/ui.js
  src/ui/card.css
  src/ui/card.js
  src/ui/card.test.js
  src/ui/deck.css
  src/ui/deck.js
  src/ui/deck.test.js
  src/ui/logo.js
  src/ui/logo.test.js
  storybook/CardStories.js
  storybook/DeckStories.js
  storybook/PlayingCard.js
  storybook/deck.js
Due: eslint --fix, prettier --write

fix typo
  src/client/client.test.js
Due: eslint --fix, prettier --write

fix bug that was using the wrong playerID when calculating playerView
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

simplify test
  src/server/index.test.js
Due: eslint --fix, prettier --write

0.17.1
  package-lock.json
  package.json
Due: none

update docs/react/boardgameio.min.js
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

update changelog
  docs/CHANGELOG.md
Due: prettier --write

no babel on src/server
  package.json
  rollup.npm.js
  src/server/db.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

reset package-lock.json
  package-lock.json
Due: none

Flattening clientStatus
  docs/api/Client.md
  examples/modules/chess/components/board.js
  examples/modules/tic-tac-toe/components/board.js
  src/client/client.js
  src/client/client.test.js
Due: eslint --fix, prettier --write

Add createGame rest like api to Server app. Add support for not allowing users to create game rooms.
  AUTHORS
  docs/react/boardgameio.min.js
  package.json
  src/server/index.js
Due: eslint --fix, prettier --write

Update server sync test to ensure the sync calls provide unique playerID's
  src/server/index.test.js
Due: eslint --fix, prettier --write

remove stage-0 preset
  .babelrc
  package.json
  rollup.npm.js
  src/server/db.js
  src/server/index.js
Due: eslint --fix, prettier --write

Propose fix a typo
  docs/phases.md
Due: prettier --write

Propose fix a typo (#102)
  docs/phases.md
Due: prettier --write

exclude dependencies from package
  rollup.npm.js
Due: eslint --fix, prettier --write

make db interface async (#86)
  .babelrc
  package.json
  rollup.npm.js
  src/server/db.js
  src/server/db.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

make the changelog look nice again, fix small typo and have a consitent look
  docs/CHANGELOG.md
Due: prettier --write

make the changelog look nice again, fix small typo and have a consitent look (#104)
  docs/CHANGELOG.md
Due: prettier --write

make Multiplayer constructor accept an object of options
  src/client/client.js
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
Due: eslint --fix, prettier --write

inline newCtx
  src/server/index.js
Due: eslint --fix, prettier --write

pass seed through separate option rather than through G
  src/core/game.js
  src/core/reducer.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

prepare code to be split into public/internal parts, commented out shuffle
  src/core/random.js
  src/core/random.test.js
Due: eslint --fix, prettier --write

split API public/internal
  src/core/random.js
  src/core/randomeval.js
  src/core/randomeval.test.js
Due: eslint --fix, prettier --write

drop shuffle
  src/core/randomeval.js
  src/core/randomeval.test.js
Due: eslint --fix, prettier --write

drop TODOs
  src/core/randomeval.js
  src/core/randomeval.test.js
Due: eslint --fix, prettier --write

fix comments
  src/core/random.js
Due: eslint --fix, prettier --write

embed random into flow, breaks a log test
  src/core/flow.js
  src/core/flow.test.js
  src/core/randomeval.js
Due: eslint --fix, prettier --write

fix gamelog rewind test
  src/client/log/log.test.js
Due: eslint --fix, prettier --write

use es6 export keyword
  src/core/random.js
  src/core/randomeval.js
  src/core/reducer.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,md})
