Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

update random.md
  docs/random.md
Due: prettier --write

fix liars dice secret info stripping
  src/client/client.js
  src/core/random.js
Due: eslint --fix, prettier --write

create Random API examples
  examples/modules/random/components/board.js
  examples/modules/random/components/view.js
  examples/modules/random/game.js
  examples/modules/random/index.js
  examples/modules/random/routes.js
  examples/modules/routes.js
Due: eslint --fix, prettier --write

set Die default to D6 to avoid returning null
  src/core/random.js
  src/core/random.test.js
Due: eslint --fix, prettier --write

Simplify Random API (#119)
  docs/random.md
  examples/modules/random/components/board.js
  examples/modules/random/components/view.js
  examples/modules/random/game.js
  examples/modules/random/index.js
  examples/modules/random/routes.js
  examples/modules/routes.js
  package-lock.json
  package.json
  rollup.npm.js
  src/client/client.js
  src/client/client.test.js
  src/client/log/log.test.js
  src/core/flow.js
  src/core/flow.test.js
  src/core/game.js
  src/core/random.js
  src/core/random.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

allow to throw multiple dice
  src/core/random.js
  src/core/random.test.js
Due: eslint --fix, prettier --write

allow to throw multiple dice (#120)
  src/core/random.js
  src/core/random.test.js
Due: eslint --fix, prettier --write

decouple client from React
  docs/react/boardgameio.min.js
  docs/react/example-1.html
  docs/react/example-2.html
  docs/react/phases-1.html
  docs/react/phases-2.html
  examples/modules/chess/components/multiplayer.js
  examples/modules/chess/components/singleplayer.js
  examples/modules/liars-dice/components/multiview.js
  examples/modules/phases/components/diagram.js
  examples/modules/phases/components/phases.js
  examples/modules/random/components/view.js
  examples/modules/tic-tac-toe/components/multiplayer.js
  examples/modules/tic-tac-toe/components/singleplayer.js
  examples/modules/tic-tac-toe/components/spectator.js
  package-lock.json
  package.json
  packages/main.js
  packages/react.js
  rollup.npm.js
  src/client/client.js
  src/client/client.test.js
  src/client/debug/debug.js
  src/client/debug/debug.test.js
  src/client/log/log.js
  src/client/log/log.test.js
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
  src/client/react.js
  src/client/react.test.js
Due: eslint --fix, prettier --write

Revert "deduplicate hex calculations, breaking animation code."
  src/ui/hex.js
Due: eslint --fix, prettier --write

debug: fix argument evalution involving commas
  src/client/debug/debug.js
  src/client/debug/debug.test.js
Due: eslint --fix, prettier --write

debug: implement DebugMove error ui
  src/client/debug/debug.css
  src/client/debug/debug.js
  src/client/debug/debug.test.js
Due: eslint --fix, prettier --write

demo rolling dice
  docs/phases.md
  examples/modules/liars-dice/components/board.js
  examples/modules/liars-dice/components/multiview.js
  examples/modules/liars-dice/components/singleview.js
  examples/modules/liars-dice/game.js
  examples/modules/liars-dice/routes.js
Due: eslint --fix, prettier --write

uncomment PlayerView
  examples/modules/liars-dice/game.js
Due: eslint --fix, prettier --write

fix for new random call format
  examples/modules/liars-dice/game.js
Due: eslint --fix, prettier --write

playerview for null
  examples/modules/liars-dice/game.js
Due: eslint --fix, prettier --write

modify multiplayer for random
  examples/modules/liars-dice/components/multiview.js
  examples/modules/liars-dice/game.js
Due: eslint --fix, prettier --write

add babel-preset-env for db/server tests
  .babelrc
  package-lock.json
  package.json
Due: none

Separating possible moves expansion logic from AI section of Game object.
  src/core/ai.js
  src/core/ai.test.js
  src/core/game.test.js
Due: eslint --fix, prettier --write

update comment
  src/core/ai.js
Due: eslint --fix, prettier --write

clean up initialization
  src/core/game.js
  src/core/reducer.js
Due: eslint --fix, prettier --write

Fix a typo in example
  examples/modules/liars-dice/components/multiview.js
Due: eslint --fix, prettier --write

Fix a typo in example (#125)
  examples/modules/liars-dice/components/multiview.js
Due: eslint --fix, prettier --write

remove unnecessary prop types
  src/client/debug/debug.js
Due: eslint --fix, prettier --write

remove es2015
  .babelrc
  package-lock.json
  package.json
Due: none

update package-lock.json
  package-lock.json
Due: none

preset-env (#124)
  .babelrc
  package-lock.json
  package.json
Due: none

Debug UI: fixes related to errors in arguments (#123)
  src/client/debug/debug.css
  src/client/debug/debug.js
  src/client/debug/debug.test.js
Due: eslint --fix, prettier --write

Revert "add babel-preset-env for db/server tests"
  .babelrc
  package-lock.json
  package.json
Due: none

add pull request template
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: prettier --write

fix typo
  CONTRIBUTING.md
Due: prettier --write

Revert "preset-env (#124)"
  .babelrc
  package-lock.json
  package.json
Due: none
