Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

allow setting the next player via endTurn
  docs/turn-order.md
  src/core/flow.js
  src/core/flow.test.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

call endTurnIf inside endPhase
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

convert direct calls to endTurnEvent/endPhaseEvent to dispatches
  src/core/flow.js
Due: eslint --fix, prettier --write

remove react-json-view from rollup config
  rollup.npm.js
Due: eslint --fix, prettier --write

Debug UI CSS improvements
  src/client/debug/debug.css
  src/client/debug/debug.js
Due: eslint --fix, prettier --write

update changelog
  docs/CHANGELOG.md
Due: prettier --write

update docs/react/boardgameio.min.js
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

0.21.4
  package-lock.json
  package.json
Due: none

fix undefined ctx in onPhaseBegin
  src/core/flow.js
Due: eslint --fix, prettier --write

0.21.5
  package-lock.json
  package.json
Due: none

updated to passing props by rest/spread
  src/client/react.js
  src/client/react.test.js
Due: eslint --fix, prettier --write

Pass through props (#173)
  src/client/react.js
  src/client/react.test.js
Due: eslint --fix, prettier --write

add Babel alias for boardgame.io
  examples/react-native/.babelrc
  examples/react-native/README.md
  examples/react-native/package-lock.json
  examples/react-native/package.json
  package.json
Due: prettier --write

fix isMultiplayer prop
  src/client/react-native.js
Due: eslint --fix, prettier --write

edited the version number -> should be 0.21.5
  docs/CHANGELOG.md
Due: prettier --write

use consistend headline styling
  docs/api/Game.md
  docs/multiplayer.md
  docs/phases.md
  docs/tutorial.md
Due: prettier --write

sometimes double checking isn't enough
  docs/tutorial.md
Due: prettier --write

Beautify headlines (#179)
  docs/CHANGELOG.md
  docs/api/Game.md
  docs/multiplayer.md
  docs/phases.md
  docs/tutorial.md
Due: prettier --write

add rn-cli.config.js so that bundler can find ../../packages
  examples/react-native/package-lock.json
  examples/react-native/rn-cli.config.js
Due: eslint --fix, prettier --write

Add styles and logo
  examples/react-native/App.js
  examples/react-native/board.js
  examples/react-native/logo.png
Due: eslint --fix, prettier --write

Update package name
  examples/react-native/package-lock.json
  examples/react-native/package.json
Due: none

remove _inHexGrid and _inGrid props
  src/ui/grid.js
  src/ui/hex.js
  src/ui/token.js
Due: eslint --fix, prettier --write

fixing travis errors
  package.json
Due: none

remove top level react-native.js
  react-native.js
Due: eslint --fix, prettier --write

remove debug prop from React Native client
  src/client/react-native.js
Due: eslint --fix, prettier --write

fix some naming inconsistencies
  examples/react-native/App.js
  packages/main.js
  packages/react-native.js
  src/client/react-native.js
Due: eslint --fix, prettier --write

react-native.test.js
  src/client/react-native.js
  src/client/react-native.test.js
Due: eslint --fix, prettier --write

fix rn-cli.config.js
  examples-react-native/rn-cli.config.js
Due: eslint --fix, prettier --write

update readme
  examples-react-native/README.md
Due: prettier --write

add socketOpts and make RN client force websocket transport
  src/client/client.js
  src/client/multiplayer/multiplayer.js
  src/client/react-native.js
Due: eslint --fix, prettier --write

remove .flowconfig
  examples-react-native/.flowconfig
Due: none

remove client.css
  src/client/client.css
  src/client/react.js
Due: eslint --fix, prettier --write

link to comments in flow.js in phases.md
  docs/phases.md
Due: prettier --write

docsify:update
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

0.22.0
  package-lock.json
  package.json
Due: none
