Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update webpack.dev.js
  examples/react/webpack.dev.js
Due: eslint --fix

Update roadmap.md
  docs/roadmap.md
Due: prettier --write

Removing preventDefault which was breaking mobile
  src/ui/2d/token.js
Due: eslint --fix

Makes changes actionPlayer values to a function in order to let someone programmaticaly change activePlayers per phase
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix

Makes changes actionPlayer values to a function in order to let someone programmatically change activePlayers per phase
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix

updates turn order docs
  docs/turn-order.md
Due: prettier --write

doc: remove some colons in code blocks that were not correctly converted to html
  docs/api/Server.md
Due: prettier --write

doc: remove some colons in code blocks that were not correctly converted to html (#324)
  docs/api/Server.md
Due: prettier --write

Turn order active player changes (#320)
  docs/turn-order.md
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

server: fix name of property 'credentials' in server API handler for 'leave'
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

server: fix name of property 'credentials' in server API handler for 'leave' (#326)
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

323 Added Immer for other events
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix

remove bad merge from examples/react/turnorder
  examples/react/turnorder/board.js
  examples/react/turnorder/game.js
Due: eslint --fix

update package-lock.json
  package-lock.json
Due: none

move lobby/ to src/
  examples/react/lobby/lobby.js
  packages/react.js
  src/lobby/create-room-form.js
  src/lobby/lobby.js
  src/lobby/lobby.test.js
  src/lobby/react.js
  src/lobby/react.test.js
  src/lobby/room-instance.js
Due: eslint --fix

fix coverage commandline
  package.json
Due: none

delete unused files
  examples/react/lobby/board-militia.js
  examples/react/lobby/game-militia.js
Due: eslint --fix

CR update - curry produce
  src/core/flow.js
Due: eslint --fix

undo flow.test.js
  src/core/flow.test.js
Due: eslint --fix

refactor test
  src/core/flow.test.js
Due: eslint --fix

Add Immer to other events (#327)
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix

package refactor
  package.json
  packages/internal.js
  rollup.npm.js
Due: eslint --fix

update integration test to also create a build
  integration/.gitignore
  integration/package-lock.json
  integration/package.json
  integration/src/App.test.js
  scripts/integration.sh
Due: eslint --fix

0.28.1
  package-lock.json
  package.json
Due: none

changelog
  docs/CHANGELOG.md
Due: prettier --write

update README
  README.md
  docs/README.md
  docs/index.html
Due: prettier --write

update CodeSandbox URL in tutorial.md
  docs/tutorial.md
Due: prettier --write

plugin system for moves
  src/core/flow.js
  src/core/game.js
  src/core/game.test.js
  src/plugins/immer.js
  src/plugins/index.js
Due: eslint --fix

fix plugin path
  src/core/flow.js
  src/core/game.js
  src/core/plugins/apply.js
  src/core/plugins/plugin-immer.js
Due: eslint --fix

change plugin API slightly
  src/core/flow.js
  src/core/game.js
  src/core/game.test.js
  src/core/plugins/apply.js
  src/core/plugins/plugin-immer.js
Due: eslint --fix

PluginPlayer
  src/core/game.js
  src/core/plugins/apply.js
  src/core/plugins/plugin-player.js
  src/core/plugins/plugin-player.test.js
  src/core/reducer.js
Due: eslint --fix

add plugins to boardgame.io/plugins
  package.json
  packages/plugins.js
  rollup.npm.js
  scripts/postpublish.js
Due: eslint --fix

rename fn to wrapper
  src/core/game.js
  src/core/game.test.js
  src/core/plugins/apply.js
  src/core/plugins/plugin-immer.js
  src/core/plugins/plugin-player.js
Due: eslint --fix

change plugin.setup arguments
  src/core/game.js
  src/core/plugins/plugin-player.js
  src/core/plugins/plugin-player.test.js
  src/core/reducer.js
Due: eslint --fix

document Plugin API
  docs/_sidebar.md
Due: prettier --write

0.29.0
  package-lock.json
  package.json
Due: none

document Plugin API
  README.md
  docs/CHANGELOG.md
  docs/README.md
  docs/plugins.md
Due: prettier --write

rename gameSetupData to setupData
  src/core/reducer.js
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

Passing arbitrary data to game setup (#315)
  src/core/reducer.js
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

Update tutorial w/ npx script
  docs/tutorial.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{css,md}
