Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

lobby: replace return codes with exceptions in LobbyConnection
  src/lobby/connection.js
  src/lobby/connection.test.js
  src/lobby/react.js
  src/lobby/react.test.js
Due: eslint --fix

Fixing on unmount bug
  src/ui/2d/token.js
  src/ui/2d/token.test.js
Due: eslint --fix

Removing the need of deprecated method, increasing coverage
  src/ui/2d/token.js
  src/ui/2d/token.test.js
Due: eslint --fix

Fixing drag & drop bugs
  examples/react/chess/board.js
  src/ui/2d/token.js
  src/ui/2d/token.test.js
Due: eslint --fix

Removing console.log
  src/ui/2d/token.js
Due: eslint --fix

Now working on iOs!
  examples/react/chess/board.js
  src/ui/2d/token.js
  src/ui/2d/token.test.js
Due: eslint --fix

Now it works on Android too!
  examples/react/chess/board.js
  src/ui/2d/token.js
  src/ui/2d/token.test.js
Due: eslint --fix

Removing console log
  examples/react/chess/board.js
Due: eslint --fix

remove storybook
  package-lock.json
  package.json
  storybook/addons.js
  storybook/card-stories.js
  storybook/card.js
  storybook/config.js
  storybook/deck-stories.js
  storybook/deck.js
  storybook/hex.js
  storybook/index.js
  storybook/playing-card.js
Due: eslint --fix

remove .bind(this)
  src/lobby/react.js
Due: eslint --fix

package-lock.json
  package-lock.json
Due: none

Update Husky
  package-lock.json
  package.json
Due: none

installed
  package-lock.json
Due: none

integration harness updated to what create-react-app will make
  integration/package-lock.json
  integration/package.json
Due: none

include runtime helpers for whatever the hell rollup does
  .babelrc
  package-lock.json
  package.json
  rollup.npm.js
Due: eslint --fix

npm install with latest npm
  package-lock.json
Due: none

package-lock hashes
  package-lock.json
Due: none

firebase updated
  package-lock.json
  package.json
Due: none

exclude async-to-generator
  .babelrc
  integration/package.json
  rollup.npm.js
Due: eslint --fix

properly remove storybook
  package-lock.json
  package.json
Due: none

add rollup-plugin-terser
  package-lock.json
  package.json
  rollup.npm.js
Due: eslint --fix

Upgrade Babel 7 (#332)
  .babelrc
  integration/package-lock.json
  integration/package.json
  package-lock.json
  package.json
  rollup.npm.js
Due: eslint --fix

upgrade husky
  package-lock.json
  package.json
Due: none

ignore package-lock.json in integration test
  integration/.gitignore
  integration/package-lock.json
Due: none

fail integration test if any subcommand fails
  scripts/integration.sh
Due: none

fix prettier write paths
  package.json
Due: none

reset node_modules in integration test
  scripts/integration.sh
Due: none

add ai-visualize.js back into rollup config
  rollup.npm.js
Due: eslint --fix

do more cleanup before running integration test
  scripts/integration.sh
Due: none

upgrade lint-staged
  package-lock.json
  package.json
Due: none

add ssr test
  src/lobby/react.ssr.test.js
Due: eslint --fix

npm run prettier
  .eslintrc
  examples/react/threejs/index.js
  src/ai/bot.js
  src/ai/mcts-visualizer.js
  src/ai/mcts-visualizer.test.js
  src/client/debug/debug-move.js
  src/client/transport/local.js
  src/client/transport/local.test.js
  src/core/turn-order.test.js
  src/server/db/firebase.js
  src/server/db/inmemory.js
  src/server/db/mongo.js
  src/ui/hex.js
  src/ui/token.js
Due: eslint --fix

add ability to specify game server
  examples/react-web/src/lobby/index.js
  examples/react-web/src/lobby/lobby.css
  examples/react-web/src/lobby/lobby.js
  examples/react-web/src/lobby/routes.js
  src/lobby/connection.js
  src/lobby/react.js
  src/lobby/react.test.js
Due: eslint --fix, prettier --write

have examples read packages/ instead of dist/
  examples/react-web/config/webpack.config.js
  examples/react-web/package.json
Due: eslint --fix

Fixed empty player name treated as empty slot
  src/server/api.js
Due: eslint --fix

add test
  src/lobby/react.test.js
Due: eslint --fix

Generic lobby (#294)
  examples/react-web/src/lobby/index.js
  examples/react-web/src/lobby/lobby.css
  examples/react-web/src/lobby/lobby.js
  examples/react-web/src/lobby/routes.js
  examples/react-web/src/routes.js
  package-lock.json
  package.json
  src/lobby/connection.js
  src/lobby/connection.test.js
  src/lobby/create-room-form.js
  src/lobby/login-form.js
  src/lobby/react.js
  src/lobby/react.ssr.test.js
  src/lobby/react.test.js
  src/lobby/room-instance.js
Due: eslint --fix, prettier --write
