Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

npm audit --fix
  package-lock.json
Due: none

update package-lock.json
  package-lock.json
Due: none

minor tweaks
  docs/api/Client.md
Due: prettier --write

undo package-lock.json changes
  package-lock.json
Due: none

fix grammar
  docs/api/Client.md
Due: prettier --write

reformat Client.md (#281)
  docs/api/Client.md
Due: prettier --write

Update roadmap.md
  docs/roadmap.md
Due: prettier --write

use array instead of object to specify which moves to redact
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix, prettier --write

package-lock.json
  package-lock.json
Due: none

rename App.js to app.js
  examples/react-native/app.js
Due: eslint --fix, prettier --write

fix lint errors
  src/ui/2d/card.js
  src/ui/2d/token.js
Due: eslint --fix, prettier --write

add npm start script
  README.md
  package.json
Due: prettier --write

added the useNewUrlParser option to the Mongo connect()
  src/server/db/mongo.js
Due: eslint --fix, prettier --write

added the useNewUrlParser option to the Mongo connect() (#285)
  src/server/db/mongo.js
Due: eslint --fix, prettier --write

update changelog
  docs/CHANGELOG.md
Due: prettier --write

0.26.0
  package-lock.json
  package.json
Due: none

update code sandbox url
  docs/tutorial.md
Due: prettier --write

npm run docsify:update
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

0.26.1
  package-lock.json
  package.json
Due: none

fix 2d/token.test.js
  src/ui/2d/token.test.js
Due: eslint --fix, prettier --write

update multiplayer docs
  docs/_sidebar.md
  docs/multiplayer.md
  docs/react/multiplayer-1.html
Due: prettier --write

expose GameLog in boardgame.io/ui
  packages/ui.js
Due: eslint --fix, prettier --write

update Client.md
  docs/api/Client.md
Due: prettier --write

remove component showcase until UI framework is more mature
  docs/_sidebar.md
  docs/storybook.md
  docs/storybook/favicon.ico
  docs/storybook/iframe.html
  docs/storybook/index.html
  docs/storybook/static/manager.f270508796f491a0e4d6.bundle.js
  docs/storybook/static/preview.6af7ff2576fc76226a67.bundle.js
Due: eslint --fix, prettier --write

update events.md
  docs/events.md
Due: prettier --write

update comment
  src/core/turn-order.js
Due: eslint --fix, prettier --write

decouple once and allOthers
  docs/events.md
  examples/react/modules/turnorder/game.js
  src/core/flow.js
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

0.26.2
  package-lock.json
  package.json
Due: none

add script to generate changelog
  package.json
  scripts/changelog.sh
Due: none

fix export in examples
  examples/react/app.js
  examples/react/app.test.js
Due: eslint --fix, prettier --write

turn order simulator
  examples/react/turnorder/index.js
  examples/react/turnorder/simulator.css
  examples/react/turnorder/simulator.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,md})
