Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

update integration/package-lock.json
  integration/package-lock.json
Due: none

0.28.0
  package-lock.json
  package.json
Due: none

changelog
  docs/CHANGELOG.md
Due: prettier --write

add some social buttons to doc page
  docs/README.md
Due: prettier --write

fix changelog
  docs/CHANGELOG.md
Due: prettier --write

update doc metadata
  docs/index.html
Due: none

update docs metadata
  docs/index.html
Due: none

update CodeSandbox URL in tutorial.md
  docs/tutorial.md
Due: prettier --write

Update tutorial.md
  docs/tutorial.md
Due: prettier --write

Update events.md
  docs/events.md
Due: prettier --write

add TurnOrder.CUSTOM and TurnOrder.CUSTOM_FROM
  docs/react/turn-order/turn-order.27c33c88.js
  docs/react/turn-order/turn-order.54a3a703.css
  docs/react/turn-order/turn-order.b1688c7a.js
  docs/react/turn-order/turn-order.html
  docs/turn-order.md
  examples/react/turnorder/example-custom-from.js
  examples/react/turnorder/example-custom.js
  examples/react/turnorder/simulator.css
  examples/react/turnorder/simulator.js
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

0.27.1
  package-lock.json
  package.json
Due: none

remove docs from prettier write
  package.json
Due: none

npm run docsify:update
  docs/react/boardgameio.min.js
Due: eslint --fix

Update roadmap.md
  docs/roadmap.md
Due: prettier --write

integration test
  .eslintignore
  integration/.env
  integration/README.md
  integration/package-lock.json
  integration/package.json
  integration/public/index.html
  integration/src/App.css
  integration/src/App.js
  integration/src/App.test.js
  integration/src/board.css
  integration/src/board.js
  integration/src/game.js
  integration/src/index.css
  integration/src/index.js
  package.json
  scripts/integration.sh
Due: eslint --fix, prettier --write

add immer
  package-lock.json
  package.json
  packages/core.js
  rollup.npm.js
  src/core/game.js
  src/core/game.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/core/turn-order.js
Due: eslint --fix

update concepts.md
  docs/concepts.md
Due: prettier --write

update immutability.md
  docs/immutability.md
Due: prettier --write

update tutorial.md
  docs/tutorial.md
Due: prettier --write

update docs
  docs/api/Game.md
  docs/api/Random.md
  docs/concepts.md
  docs/immutability.md
  docs/phases.md
  docs/random.md
  docs/react/boardgameio.min.js
  docs/react/example-1.html
  docs/react/example-2.html
  docs/react/example-3.html
  docs/react/phases-1.html
  docs/react/phases-2.html
  docs/testing.md
Due: eslint --fix, prettier --write
