Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

more turn orders
  examples/react/turnorder/example-militia.js
  src/core/flow.js
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix

endPhase goes to the previous phase by default
  docs/phases.md
  examples/react/turnorder/example-militia.js
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

npm run docsify:update
  docs/react/boardgameio.min.js
Due: eslint --fix

simplify militia unit test
  src/core/turn-order.test.js
Due: eslint --fix

allOthers does not return to the original player
  src/core/flow.js
  src/core/turn-order.test.js
Due: eslint --fix

examples: removed 'militia' from list of games in lobby example
  examples/react/lobby/board-militia.js
  examples/react/lobby/game-militia.js
  examples/react/lobby/lobby.js
Due: eslint --fix

docs: update doc for new server api endpoints 'leave' and 'list' (#296)
  docs/api/Server.md
Due: prettier --write

add example for TurnOrder.ONCE
  examples/react/turnorder/example-militia.js
  examples/react/turnorder/example-once.js
  examples/react/turnorder/simulator.js
Due: eslint --fix

add examples for the rest of the turn orders
  examples/react/turnorder/example-any-once.js
  examples/react/turnorder/example-any.js
  examples/react/turnorder/example-others-once.js
  examples/react/turnorder/example-others.js
  examples/react/turnorder/simulator.js
Due: eslint --fix

update docs
  docs/events.md
  docs/turn-order.md
Due: prettier --write

add interactive turn orders to docs
  .gitignore
  docs/react/turn-order/turn-order.164d8824.css
  docs/react/turn-order/turn-order.b1688c7a.js
  docs/react/turn-order/turn-order.html
  docs/turn-order.md
  examples/react/turnorder/example-any-once.js
  examples/react/turnorder/example-any.js
  examples/react/turnorder/example-default.js
  examples/react/turnorder/example-once.js
  examples/react/turnorder/example-others-once.js
  examples/react/turnorder/example-others.js
  examples/react/turnorder/turn-order.html
  examples/react/turnorder/turn-order.js
Due: eslint --fix, prettier --write

update docs
  docs/events.md
  docs/react/turn-order/turn-order.b1688c7a.js
  docs/turn-order.md
Due: eslint --fix, prettier --write

rename allOthers to others
  docs/turn-order.md
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

update docs
  docs/events.md
Due: prettier --write

0.27.0
  package-lock.json
  package.json
Due: none

changelog
  docs/CHANGELOG.md
Due: prettier --write

don't add log inside update for the player that played the move
  src/client/client.js
  src/client/client.test.js
Due: eslint --fix

add _stateID to log entries
  src/client/client.js
  src/core/flow.js
  src/core/reducer.js
Due: eslint --fix

remove unused eslint disable comments
  src/client/client.js
Due: eslint --fix

update tests
  src/client/client.test.js
  src/core/reducer.test.js
Due: eslint --fix

Prohibit second log event during Update (#303)
  src/client/client.js
  src/client/client.test.js
  src/core/flow.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix

update filteredEvent correctly
  src/master/master.js
Due: eslint --fix

lobby: rebase onto master examples: refactor and add 'militia' to list of games of server and lobby
  examples/react/lobby/board-militia.js
  examples/react/lobby/game-militia.js
  examples/react/server.js
  examples/react/turnorder/board.js
  examples/react/turnorder/game.js
Due: eslint --fix

lobby: fix credentials and multiplayer bug at instantiation of game component
  examples/react/lobby/lobby.js
  lobby/react.js
  lobby/react.test.js
  lobby/room-instance.js
Due: eslint --fix

add TurnOrder.CUSTOM and TurnOrder.CUSTOM_FROM
  docs/react/turn-order/turn-order.27c33c88.js
  docs/react/turn-order/turn-order.54a3a703.css
  docs/react/turn-order/turn-order.b1688c7a.js
  docs/react/turn-order/turn-order.html
  docs/turn-order.md
  examples/react/turnorder/example-custom-from.js
  examples/react/turnorder/example-custom.js
  examples/react/turnorder/simulator.css
  examples/react/turnorder/simulator.js
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

0.27.1
  package-lock.json
  package.json
Due: none

remove docs from prettier write
  package.json
Due: none

Update roadmap.md
  docs/roadmap.md
Due: prettier --write

integration test
  .eslintignore
  integration/.env
  integration/README.md
  integration/package-lock.json
  integration/package.json
  integration/public/index.html
  integration/src/App.css
  integration/src/App.js
  integration/src/App.test.js
  integration/src/board.css
  integration/src/board.js
  integration/src/game.js
  integration/src/index.css
  integration/src/index.js
  package.json
  scripts/integration.sh
Due: eslint --fix, prettier --write

update immutability.md
  docs/immutability.md
Due: prettier --write

add immer
  package-lock.json
  package.json
  packages/core.js
  rollup.npm.js
  src/core/game.js
  src/core/game.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/core/turn-order.js
Due: eslint --fix

update tutorial.md
  docs/tutorial.md
Due: prettier --write

update concepts.md
  docs/concepts.md
Due: prettier --write

update docs
  docs/api/Game.md
  docs/api/Random.md
  docs/concepts.md
  docs/immutability.md
  docs/phases.md
  docs/random.md
  docs/react/boardgameio.min.js
  docs/react/example-1.html
  docs/react/example-2.html
  docs/react/example-3.html
  docs/react/phases-1.html
  docs/react/phases-2.html
  docs/testing.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{css,md}
