Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

server api: fix test of argument 'playerID' to avoid id 0 being seen as undefined
  src/server/api.js
Due: eslint --fix

fix: Fix join/leave a room when playerID is 0
  src/server/api.js
Due: eslint --fix

Add search plugin to docs
  docs/index.html
Due: none

fix: Fix join/leave a room when playerID is 0 (#425)
  src/server/api.js
Due: eslint --fix

Add search plugin to docs (#427)
  docs/index.html
Due: none

Create play again endpoint
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

Create play again endpoint (#428)
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix

0.32.1
  package-lock.json
  package.json
Due: none

changelog
  docs/CHANGELOG.md
Due: prettier --write

create landing page
  docs/README.md
  docs/documentation/.nojekyll
  docs/documentation/CHANGELOG.md
  docs/documentation/CNAME
  docs/documentation/_sidebar.md
  docs/documentation/api/Client.md
  docs/documentation/api/Game.md
  docs/documentation/api/Lobby.md
  docs/documentation/api/Random.md
  docs/documentation/api/Server.md
  docs/documentation/concepts.md
  docs/documentation/debugging.md
  docs/documentation/events.md
  docs/documentation/immutability.md
  docs/documentation/index.html
  docs/documentation/multiplayer.md
  docs/documentation/notable_projects.md
  docs/documentation/phases.md
  docs/documentation/plugins.md
  docs/documentation/random.md
  docs/documentation/react/boardgameio.min.js
  docs/documentation/react/example-1.html
  docs/documentation/react/example-2.html
  docs/documentation/react/example-3.html
  docs/documentation/react/multiplayer-1.html
  docs/documentation/react/phases-1.html
  docs/documentation/react/phases-2.html
  docs/documentation/react/turn-order/turn-order.27c33c88.js
  docs/documentation/react/turn-order/turn-order.54a3a703.css
  docs/documentation/react/turn-order/turn-order.html
  docs/documentation/roadmap.md
  docs/documentation/secret-state.md
  docs/documentation/storage.md
  docs/documentation/testing.md
  docs/documentation/turn-order.md
  docs/documentation/tutorial.md
  docs/documentation/undo.md
  docs/index.html
Due: eslint --fix, prettier --write

Create CNAME
  docs/CNAME
Due: none

rename _sidebar.md to sidebar.md
  docs/documentation/index.html
  docs/documentation/sidebar.md
Due: prettier --write

flatten notable projects
  docs/documentation/notable_projects.md
Due: prettier --write

fix some links
  README.md
  docs/roadmap.md
  scripts/changelog.sh
Due: prettier --write

move roadmap.md one level up
  README.md
  roadmap.md
Due: prettier --write

make landing page mobile friendly
  docs/index.html
Due: none

move overflow-y to body tag
  docs/index.html
Due: none

landing page tweaks
  docs/index.html
Due: none

sort notable_projects.md
  docs/documentation/notable_projects.md
Due: prettier --write

split css out of landing page
  docs/index.css
  docs/index.html
Due: prettier --write

update favicon link
  docs/documentation/index.html
  docs/index.html
Due: none

update landing page
  docs/index.css
  docs/index.html
Due: prettier --write

update some font sizes
  docs/index.css
Due: prettier --write

center summary
  docs/index.css
  docs/index.html
Due: prettier --write

remove unused CNAME file
  docs/documentation/CNAME
Due: none

update homepage
  docs/index.css
  docs/index.html
Due: prettier --write

update description
  docs/index.html
Due: none

update homepage
  README.md
  docs/index.css
  docs/index.html
Due: prettier --write

Update index.css
  docs/index.css
Due: prettier --write

No payload should not be authentic player
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix

unless no payload necessary
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix

Working on TypeScript
  .eslintignore
  .gitignore
  babel.config.js
  package-lock.json
  package.json
  packages/server.ts
  rollup.npm.js
  src/master/master.test.js
  src/server/api.test.js
  src/server/api.ts
  src/server/db/firebase.test.js
  src/server/transport/socketio.test.js
  tsconfig.json
Due: eslint --fix

Add name to AUTHORS
  AUTHORS
Due: none

Get token.test.js passing
  package-lock.json
  package.json
  src/ui/2d/token.test.js
Due: eslint --fix

Get all tests passing
  package-lock.json
  package.json
  src/client/debug/debug.test.js
Due: eslint --fix

Get all tests passing, use rollup typescript
  .gitignore
  package-lock.json
  package.json
  rollup.npm.js
  src/server/index.test.ts
  src/server/index.ts
  tsconfig.json
Due: eslint --fix

Remove built-ts/ from .eslintignore (directory no longer used)
  .eslintignore
Due: none

Get coverage back up to 100%
  src/ui/2d/token.test.js
Due: eslint --fix

No payload is not an authentic player (#430)
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix

fix dev:server
  package.json
Due: none
