Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

add seedrandom as new global
  rollup.npm.js
Due: eslint --fix, prettier --write

drop console.log statements used for debugging
  src/core/flow.test.js
Due: eslint --fix, prettier --write

adding inital dice .js and .css files
  src/ui/dice.css
  src/ui/dice.js
Due: eslint --fix, prettier --write

build dice 'roll method'
  src/ui/dice.css
  src/ui/dice.js
Due: eslint --fix, prettier --write

added passing tests for dice. Made sure that faceValue didn't passthrough to a div.
  src/ui/dice.js
  src/ui/dice.test.js
Due: eslint --fix, prettier --write

fixing 2 test issues
  src/ui/dice.test.js
Due: eslint --fix, prettier --write

changing .html method to .text method
  src/ui/dice.test.js
Due: eslint --fix, prettier --write

combining onClick tests; testing classNames with hasClass enzyme function; moving tests under better designation
  src/ui/dice.test.js
Due: eslint --fix, prettier --write

add random.md after first iteration
  docs/random.md
Due: prettier --write

add second iteration on random.md
  docs/random.md
Due: prettier --write

add second iteration over client-facing random API
  docs/random.md
  src/core/flow.test.js
  src/core/random.js
  src/core/randomeval.test.js
Due: eslint --fix, prettier --write

chore(flow.test): template for tests with secondsPerTurn
  src/core/flow.test.js
Due: eslint --fix, prettier --write

feat(timer): add simple timer and tests
  src/core/timer.js
  src/core/timer.test.js
Due: eslint --fix, prettier --write

chore(flow.test): cut additional import that was added with vs-code
  src/core/flow.test.js
Due: eslint --fix, prettier --write

fix(travis): set active nodejs versions to run
  .travis.yml
Due: none

feat(package): bump jest minor version
  package-lock.json
  package.json
Due: none

chore(package): bump minor version
  package-lock.json
  package.json
Due: none

avoid re-creating board when multiplayer state changes
  src/client/client.js
  src/client/client.test.js
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
Due: eslint --fix, prettier --write

Exposing Client connection status to board. (#97)
  docs/api/Client.md
  examples/modules/chess/components/board.js
  examples/modules/tic-tac-toe/components/board.js
  src/client/client.js
  src/client/client.test.js
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
  src/server/index.js
Due: eslint --fix, prettier --write

remove entries from clientInfo and roomInfo on disconnect
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

0.17.2
  package-lock.json
  package.json
Due: none

docs/react/boardgameio.min.js
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

update changelog
  docs/CHANGELOG.md
Due: prettier --write

allow to evaluate random die values.
  src/core/randomeval.js
Due: eslint --fix, prettier --write

add fns for all commonly used dice.
  src/core/random.js
  src/core/randomeval.js
  src/core/randomeval.test.js
Due: eslint --fix, prettier --write

allow arbitrary die spot values.
  src/core/random.js
  src/core/randomeval.test.js
Due: eslint --fix, prettier --write

add export random API
  packages/core.js
  packages/main.js
Due: eslint --fix, prettier --write

pass seed to flow for proper initialization
  src/core/flow.js
  src/core/game.js
  src/core/reducer.js
Due: eslint --fix, prettier --write

add third pass over random.md
  docs/random.md
Due: prettier --write

Implementation and tests
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

Documentation updated
  docs/api/Game.md
  docs/phases.md
Due: prettier --write

onTurnBegin (#109)
  docs/api/Game.md
  docs/phases.md
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

add license headers for new files
  src/core/random.js
  src/core/randomeval.js
  src/core/randomeval.test.js
Due: eslint --fix, prettier --write
