Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

fix PRNGState initialization
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

fix display of log with phased game (#135)
  src/client/log/log.js
Due: eslint --fix, prettier --write

Fix random setup (#134)
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

Removing react-json-view dependency to allow SSR
  package.json
  src/client/debug/debug.js
Due: eslint --fix, prettier --write

Disabling socket io connection for ssr
  src/client/react.js
Due: eslint --fix, prettier --write

Creating test for Server side rendering
  src/client/react.ssr.test.js
Due: eslint --fix, prettier --write

update multiplayer.md
  docs/multiplayer.md
Due: prettier --write

update package-lock.json
  package-lock.json
Due: none

replace quotes with <strong>
  src/client/debug/debug.js
Due: eslint --fix, prettier --write

Enabling server-side-rendering for boardgame.io (fixes #22) (#140)
  package-lock.json
  package.json
  src/client/debug/debug.js
  src/client/react.js
  src/client/react.ssr.test.js
Due: eslint --fix, prettier --write

update changelog
  docs/CHANGELOG.md
Due: prettier --write

0.20.1
  package-lock.json
  package.json
Due: none

npm run docsify:update
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

custom order on G
  src/core/turn-order.js
  src/core/turn-order.test.js
Due: eslint --fix, prettier --write

move player check from server to flow
  src/core/flow.js
  src/core/flow.test.js
  src/server/index.js
Due: eslint --fix, prettier --write

Add redux enhancer option
  docs/_sidebar.md
  docs/api/Client.md
  docs/debugging.md
  src/client/client.js
  src/client/client.test.js
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
  src/client/react.js
Due: eslint --fix, prettier --write

run endPhase (analogue to endTurn) when game ends
  src/client/multiplayer/multiplayer.test.js
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

add activePlayers() fn to turn-order
  src/core/flow.js
  src/core/turn-order.js
  src/core/turn-order.test.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

rename activePlayers to actionPlayers
  src/core/flow.js
  src/core/turn-order.js
  src/core/turn-order.test.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

use actionPlayers in canMakeMove
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

add expectations for actionPlayers
  src/core/flow.test.js
Due: eslint --fix, prettier --write

check m.callback type
  src/client/multiplayer/multiplayer.test.js
Due: eslint --fix, prettier --write

Run endPhase event (analogue to endTurn) when game ends (#144)
  src/client/multiplayer/multiplayer.test.js
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix, prettier --write

update debugging.md
  docs/debugging.md
Due: prettier --write

more documentation
  docs/api/Client.md
  src/client/multiplayer/multiplayer.js
Due: eslint --fix, prettier --write

allow optional redux enhancer (#139)
  docs/_sidebar.md
  docs/api/Client.md
  docs/debugging.md
  src/client/client.js
  src/client/client.test.js
  src/client/multiplayer/multiplayer.js
  src/client/multiplayer/multiplayer.test.js
  src/client/react.js
Due: eslint --fix, prettier --write

playerOrder in ctx, aligned TurnOrder, passMap modified to passOrder as array
  src/core/flow.js
  src/core/turn-order.js
  src/core/turn-order.test.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

move single server stuff to separate section in multiplayer.md
  docs/multiplayer.md
Due: prettier --write
