Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

add react-cookies to rollup globals
  rollup.npm.js
Due: eslint --fix

simplify pack / publish scripts
  package.json
  scripts/integration.sh
  scripts/remove-export-aliases.js
Due: eslint --fix

split out build into npm prepare
  package.json
Due: none

fix chess example server location
  examples/react-web/src/chess/multiplayer.js
Due: eslint --fix

remove some unnecessary dependencies
  package-lock.json
  package.json
Due: none

update package-lock.json after npm@6.6.0
  package-lock.json
Due: none

fix some css in the examples
  examples/react-web/src/app.css
  examples/react-web/src/lobby/lobby.css
  examples/react-web/src/tic-tac-toe/authenticated.js
  examples/react-web/src/tic-tac-toe/multiplayer.js
  examples/react-web/src/tic-tac-toe/singleplayer.js
  examples/react-web/src/tic-tac-toe/spectator.js
  examples/react-web/src/turnorder/simulator.css
Due: eslint --fix, prettier --write

fix some more css
  examples/react-web/src/lobby/lobby.css
Due: prettier --write

use nodemon in example server
  babel.config.js
  examples/react-web/package.json
  examples/react-web/server.js
  package-lock.json
  package.json
Due: eslint --fix

#339 - use G value returned from onPhaseBegin in subsequent calls
  src/core/flow.js
Due: eslint --fix

Add test
  src/core/flow.test.js
Due: eslint --fix

revert package-lock.json
  package-lock.json
Due: none

Adds drag and drop capability to 2d token (#316)
  examples/react/chess/board.js
  examples/react/chess/checkerboard.js
  examples/react/chess/checkerboard.test.js
  src/ui/2d/grid.js
  src/ui/2d/grid.test.js
  src/ui/2d/hex.js
  src/ui/2d/hex.test.js
  src/ui/2d/token.js
  src/ui/2d/token.test.js
Due: eslint --fix

fix default export
  src/ui/2d/token.js
Due: eslint --fix

prettier
  src/ui/3d/ui.js
Due: eslint --fix

properly add tweenjs and three as deps
  examples/react-web/package.json
  package-lock.json
  package.json
Due: none

fix bad merge
  src/ui/2d/hex.js
  src/ui/2d/token.js
Due: eslint --fix

exclude experimental parts of src/ui from coverage report
  package.json
Due: none

expand test
  src/core/flow.test.js
Due: eslint --fix

Allow result of onPhaseBegin to influence turn order (#341)
  src/core/flow.js
  src/core/flow.test.js
Due: eslint --fix

remove npm prepare script
  package.json
  scripts/clean.js
  scripts/remove-export-aliases.js
Due: eslint --fix

Improving test coverage for drag and drop
  src/ui/2d/token.test.js
Due: eslint --fix

fix undefined x,y
  src/ui/3d/grid.js
  src/ui/3d/token.js
Due: eslint --fix

Improving test coverage for drag and drop (#346)
  src/ui/2d/token.test.js
Due: eslint --fix

fix race condition in game instantiation inside onSync
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix

0.31.0
  package-lock.json
  package.json
Due: none

changelog
  docs/CHANGELOG.md
Due: prettier --write

remove three from minified rollup bundle
  rollup.npm.js
Due: eslint --fix

npm run docsify:update
  docs/react/boardgameio.min.js
  package.json
Due: eslint --fix

fix integration test package version
  integration/package.json
Due: none

remove boardgame.io dep from integration test
  integration/package.json
Due: none

0.31.1
  package-lock.json
  package.json
Due: none

add asset file
  examples/react/ui/Chess_Scene.blend
  examples/react/ui/scene.bin
  examples/react/ui/scene.gltf
  examples/react/ui/test3d.js
  examples/react/webpack.dev.js
  src/ui/3d/grid.js
  src/ui/3d/obj-loader.js
  src/ui/3d/token.js
  src/ui/3d/ui.js
Due: eslint --fix

update testing.md
  docs/testing.md
Due: prettier --write

Add option to use eigther one or two ports for socket and http api
  docs/api/Server.md
  src/server/api.js
  src/server/api.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

Use deployable single port mode by default for server.js
  docs/api/Server.md
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

document gameSetupData and fix a few other things
  docs/_sidebar.md
  docs/api/API.md
  docs/api/Game.md
  docs/api/Server.md
  docs/storage.md
Due: prettier --write
