Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

remove async/await from client code
  src/client/debug/debug.js
  src/client/debug/debug.test.js
Due: eslint --fix, prettier --write

0.23.3
  package-lock.json
  package.json
Due: none

update changelog
  docs/CHANGELOG.md
Due: prettier --write

Fixed broken route for join game in authentication example
  examples/react/modules/tic-tac-toe/components/authenticated.js
Due: eslint --fix, prettier --write

Fixed broken route for join game in authentication example (#224)
  examples/react/modules/tic-tac-toe/components/authenticated.js
Due: eslint --fix, prettier --write

Update tutorial.md
  docs/tutorial.md
Due: prettier --write

Update tutorial.md (#225)
  docs/tutorial.md
Due: prettier --write

edits
  docs/events.md
Due: prettier --write

update concepts.md
  docs/concepts.md
Due: prettier --write

add link to events.md
  docs/concepts.md
Due: prettier --write

minor formatting fix
  src/server/db/firebase.js
Due: eslint --fix, prettier --write

refactor tests
  src/server/db/firebase.js
  src/server/db/firebase.test.js
Due: eslint --fix, prettier --write

minor formatting
  src/server/db/firebase.js
  src/server/index.js
Due: eslint --fix, prettier --write

Firebase integration (#223)
  package.json
  packages/server.js
  src/server/db/firebase.js
  src/server/db/firebase.test.js
  src/server/db/index.js
  src/server/db/index.test.js
  src/server/db/inmemory.js
  src/server/db/inmemory.test.js
  src/server/db/mongo.js
  src/server/db/mongo.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

simplify 'if' expression (#220)
  examples/react/modules/tic-tac-toe/components/board.js
Due: eslint --fix, prettier --write

fix typo
  src/server/db/firebase.test.js
Due: eslint --fix, prettier --write

SQL integration
  package.json
  src/server/db/index.js
  src/server/db/index.test.js
  src/server/db/mysql.js
  src/server/db/mysql.test.js
  src/server/db/postgre.js
  src/server/db/postgre.test.js
  src/server/db/sql.js
  src/server/db/sql.test.js
  src/server/db/sqlite.js
  src/server/db/sqlite.test.js
Due: eslint --fix, prettier --write

changed field name ctx to state
  src/server/db/mysql.js
  src/server/db/postgre.js
  src/server/db/sql.js
  src/server/db/sql.test.js
  src/server/db/sqlite.js
Due: eslint --fix, prettier --write

update events.md
  docs/events.md
Due: prettier --write

Event docs (#159)
  docs/_sidebar.md
  docs/concepts.md
  docs/events.md
Due: prettier --write

update docs
  docs/_sidebar.md
  docs/concepts.md
  docs/events.md
  docs/turn-order.md
Due: prettier --write

update docs
  docs/_sidebar.md
  docs/random.md
Due: prettier --write

update docs
  docs/concepts.md
Due: prettier --write

fixed Sequelize deprecation warning
  src/server/db/mysql.js
  src/server/db/postgre.js
  src/server/db/sql.js
  src/server/db/sqlite.js
Due: eslint --fix, prettier --write

warning fix 2 and test separation
  src/server/db/mysql.js
  src/server/db/postgre.js
  src/server/db/sql.test.js
  src/server/db/sqlite.js
Due: eslint --fix, prettier --write

lower the aquire limit for sql connection try
  src/server/db/mysql.js
  src/server/db/postgre.js
  src/server/db/sqlite.js
Due: eslint --fix, prettier --write

hide debug ui on mobile devices
  src/client/debug/debug.css
Due: prettier --write

move MCTSDebug into separate package
  src/ai/ai.js
  src/ai/ai.test.js
  src/ai/mcts-visualizer.css
  src/ai/mcts-visualizer.js
  src/ai/mcts-visualizer.test.js
Due: eslint --fix, prettier --write

properly add MCTSDebug to new package
  examples/react/modules/tic-tac-toe/components/singleplayer.js
  packages/ai-visualize.js
  rollup.npm.js
  scripts/postpublish.js
  src/client/client.js
  src/client/debug/debug.js
  src/client/debug/debug.test.js
  src/client/react.js
Due: eslint --fix, prettier --write

remove unused __mocks__ dir
  __mocks__/react-router-dom.js
Due: eslint --fix, prettier --write

add more text to example
  examples/react/modules/routes.js
  examples/react/modules/turnorder/components/view.js
  examples/react/modules/turnorder/routes.js
Due: eslint --fix, prettier --write

simplify liars dice to only show secret state computation
  examples/react/modules/liars-dice/components/board.js
  examples/react/modules/routes.js
  examples/react/modules/secret-state/components/board.css
  examples/react/modules/secret-state/components/board.js
  examples/react/modules/secret-state/components/multiview.js
  examples/react/modules/secret-state/game.js
  examples/react/modules/secret-state/index.js
  examples/react/modules/secret-state/routes.js
Due: eslint --fix, prettier --write

add buttons to Random API example
  examples/react/modules/random/components/board.js
  examples/react/modules/secret-state/routes.js
Due: eslint --fix, prettier --write

split debug.js into sub files
  src/client/debug/debug-move.js
  src/client/debug/debug-move.test.js
  src/client/debug/debug.js
  src/client/debug/debug.test.js
  src/client/debug/keyboard-shortcut.js
  src/client/debug/keyboard-shortcut.test.js
Due: eslint --fix, prettier --write

Update roadmap.md
  docs/roadmap.md
Due: prettier --write

Remove duplicate D6 under Wrappers section
  docs/api/Random.md
Due: prettier --write

Remove duplicate D6 under Wrappers section (#228)
  docs/api/Random.md
Due: prettier --write

Debug UI improvements
  src/client/debug/controls.js
  src/client/debug/debug.css
  src/client/debug/debug.js
  src/client/debug/debug.test.js
  src/client/debug/gameinfo.js
Due: eslint --fix, prettier --write

move AssignShortcuts to separate file
  src/client/debug/assign-shortcuts.js
  src/client/debug/assign-shortcuts.test.js
  src/client/debug/controls.js
  src/client/debug/debug.js
  src/client/debug/debug.test.js
  src/client/debug/gameinfo.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{css,md})
