Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

rename plugin.wrapper to plugin.fnWrap
  docs/plugins.md
  src/core/flow.js
  src/core/game.js
  src/core/game.test.js
  src/core/plugins/main.js
  src/core/plugins/main.test.js
  src/core/plugins/plugin-immer.js
  src/core/plugins/plugin-player.js
Due: eslint --fix, prettier --write

split plugin.setup into setupG and setupCtx
  docs/plugins.md
  src/core/plugins/main.test.js
  src/core/plugins/plugin-player.js
  src/core/plugins/plugin-player.test.js
  src/core/reducer.js
Due: eslint --fix, prettier --write

rename ApplyPlugins to FnWrap
  src/core/flow.js
  src/core/game.js
  src/core/plugins/main.js
Due: eslint --fix

move plugin helpers into separate functions
  src/core/plugins/main.js
  src/core/reducer.js
Due: eslint --fix

add addTo / removeFrom to plugin API
  src/core/plugins/main.js
  src/core/plugins/main.test.js
  src/core/reducer.js
Due: eslint --fix

0.29.1
  package-lock.json
  package.json
Due: none

changelog
  docs/CHANGELOG.md
Due: prettier --write

fix immer plugin order
  src/core/plugins/main.js
  src/core/plugins/main.test.js
Due: eslint --fix

0.29.2
  package-lock.json
  package.json
Due: none

updates @storybook/react
  package-lock.json
  package.json
Due: none

wip updates to babel/rollup
  .babelrc
  package-lock.json
  package.json
Due: none

rollup build updated
  .babelrc
  package-lock.json
  package.json
  rollup.npm.js
Due: eslint --fix

jest needs this to run
  .babelrc
  package-lock.json
  package.json
Due: none

move plugins dir one level up
  src/core/flow.js
  src/core/game.js
  src/core/reducer.js
  src/plugins/main.js
  src/plugins/main.test.js
  src/plugins/plugin-immer.js
  src/plugins/plugin-player.js
  src/plugins/plugin-player.test.js
Due: eslint --fix

fix plugin import path
  packages/plugins.js
Due: eslint --fix

pass game object to plugins
  src/core/flow.js
  src/core/game.js
  src/core/reducer.js
  src/plugins/main.js
Due: eslint --fix

rename plugin api functions
  docs/plugins.md
  src/plugins/main.js
  src/plugins/main.test.js
  src/plugins/plugin-player.js
  src/plugins/plugin-player.test.js
Due: eslint --fix, prettier --write

0.29.3
  package-lock.json
  package.json
Due: none

add playerSetup option to PluginPlayer
  docs/plugins.md
  src/plugins/plugin-player.js
  src/plugins/plugin-player.test.js
Due: eslint --fix, prettier --write

0.29.4
  package-lock.json
  package.json
Due: none

add plugin.onPhaseBegin
  src/core/flow.js
  src/core/reducer.js
  src/plugins/main.js
  src/plugins/main.test.js
Due: eslint --fix

remove plugins.ctx.postMove
  docs/plugins.md
  src/plugins/main.js
  src/plugins/main.test.js
Due: eslint --fix, prettier --write

0.29.5
  package-lock.json
  package.json
Due: none

extract CreateGame into function
  src/server/api.js
Due: eslint --fix

add some comments
  src/client/transport/local.js
  src/client/transport/socketio.js
Due: eslint --fix

make master write to proper namepspaced keys
  src/master/master.js
  src/master/master.test.js
Due: eslint --fix

add a loading component for multiplayer clients
  docs/api/Client.md
  src/client/client.js
  src/client/client.test.js
  src/client/react-native.js
  src/client/react-native.test.js
  src/client/react.js
  src/client/react.ssr.test.js
  src/client/react.test.js
  src/core/random.test.js
  src/core/reducer.js
  src/core/reducer.test.js
Due: eslint --fix, prettier --write

create initial game state outside reducer
  src/ai/bot.test.js
  src/client/client.js
  src/client/client.test.js
  src/client/log/log.test.js
  src/client/react-native.test.js
  src/client/react.test.js
  src/client/transport/local.js
  src/client/transport/local.test.js
  src/client/transport/socketio.js
  src/client/transport/socketio.test.js
  src/core/action-creators.js
  src/core/events.test.js
  src/core/flow.test.js
  src/core/game.test.js
  src/core/random.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/core/turn-order.test.js
  src/master/master.js
  src/master/master.test.js
  src/plugins/main.test.js
  src/plugins/plugin-player.test.js
  src/server/api.js
Due: eslint --fix

refactor some tests
  src/core/flow.test.js
  src/plugins/plugin-immer.test.js
Due: eslint --fix

update doc
  docs/api/Client.md
Due: prettier --write

0.30.0
  package-lock.json
  package.json
Due: none

remove duplicate test
  src/core/flow.test.js
Due: eslint --fix

add comment
  src/core/reducer.js
Due: eslint --fix

fix package warning
  packages/core.js
Due: eslint --fix

lobby: move some code from 'examples' into component 'Lobby'; add unit-tests
  examples/react/lobby/board-chess.js
  examples/react/lobby/board-tic-tac-toe.js
  examples/react/lobby/checkerboard.js
  examples/react/lobby/game-chess.js
  examples/react/lobby/game-tic-tac-toe.js
  examples/react/lobby/lobby.js
  examples/react/lobby/pieces
  src/lobby/connection.js
  src/lobby/connection.test.js
  src/lobby/login-form.js
  src/lobby/react.js
  src/lobby/react.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{css,md}
