Repository boardgameio/boardgame.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{css,md}": [
    "prettier --write",
    "git add"
  ]
}

Update Game.md
  docs/api/Game.md
Due: prettier --write

Update Game.md (#210)
  docs/api/Game.md
Due: prettier --write

Update Server.md (#209)
  docs/api/Server.md
Due: prettier --write

export createGameReducer (#208)
  packages/core.js
  src/ai/ai.js
  src/ai/ai.test.js
  src/client/client.js
  src/client/client.test.js
  src/client/debug/debug.test.js
  src/client/log/log.test.js
  src/client/multiplayer/multiplayer.test.js
  src/core/events.test.js
  src/core/flow.test.js
  src/core/game.test.js
  src/core/random.test.js
  src/core/reducer.js
  src/core/reducer.test.js
  src/core/turn-order.test.js
  src/server/api.js
  src/server/index.js
Due: eslint --fix, prettier --write

Add config update on phase change Fixes #211
  src/core/flow.js
Due: eslint --fix, prettier --write

Add config update on phase change Fixes #211 (#212)
  src/core/flow.js
Due: eslint --fix, prettier --write

AI framework
  docs/react/boardgameio.min.js
  docs/react/example-3.html
  docs/roadmap.md
  docs/tutorial.md
  examples/react/modules/app.test.js
  examples/react/modules/tic-tac-toe/components/board.js
  examples/react/modules/tic-tac-toe/components/singleplayer.js
  examples/react/modules/tic-tac-toe/game.js
  packages/ai.js
  packages/main.js
  src/ai/ai.js
  src/ai/ai.test.js
  src/ai/bot.js
  src/ai/bot.test.js
  src/ai/mcts-debug.css
  src/ai/mcts-debug.js
  src/ai/mcts-debug.test.js
  src/client/client.js
  src/client/client.test.js
  src/client/debug/debug.css
  src/client/debug/debug.js
  src/client/debug/debug.test.js
  src/client/log/log.css
  src/client/log/log.js
  src/client/log/log.test.js
  src/client/react.js
Due: eslint --fix, prettier --write

update README
  README.md
  docs/README.md
  docs/tutorial.md
Due: prettier --write

update README
  README.md
  docs/README.md
Due: prettier --write

0.23.0
  package-lock.json
  package.json
Due: none

update tutorial.md
  docs/tutorial.md
Due: prettier --write

npm run docsify:update
  docs/react/boardgameio.min.js
Due: eslint --fix, prettier --write

update changelog
  docs/CHANGELOG.md
Due: prettier --write

update roadmap
  docs/roadmap.md
Due: prettier --write

change codepen to codesandbox
  docs/tutorial.md
Due: prettier --write

add ai.js to rollup config
  package.json
  rollup.npm.js
  scripts/postpublish.js
Due: eslint --fix, prettier --write

0.23.1
  package-lock.json
  package.json
Due: none

fix pylint warnings
  python/boardgameio.py
  python/examples/tic-tac-toe/tictactoebot.py
  python/test_boardgameio.py
Due: none

initial game list api endpoint implementation
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

initial game list api endpoint implementation (#215)
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

Python Bot base class (#98) (#195)
  python/.gitignore
  python/boardgameio.py
  python/examples/tic-tac-toe/boardgameio.py
  python/examples/tic-tac-toe/tictactoebot.py
  python/test_boardgameio.py
Due: none

change patch to post in API
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

minor join API rename
  src/server/api.js
  src/server/api.test.js
Due: eslint --fix, prettier --write

Updated games list test to be more useful
  src/server/api.test.js
Due: eslint --fix, prettier --write

Updated games list test to be more useful (#216)
  src/server/api.test.js
Due: eslint --fix, prettier --write

Update Server.md
  docs/api/Server.md
Due: prettier --write

make Random API present in first onTurnBegin and onPhaseBegin
  src/client/react-native.test.js
  src/client/react.test.js
  src/core/random.test.js
  src/core/reducer.js
Due: eslint --fix, prettier --write

0.23.2
  package-lock.json
  package.json
Due: none

simplify 'if' expression
  examples/react/modules/tic-tac-toe/components/board.js
Due: eslint --fix, prettier --write

Firebase complete implementation with tests
  package.json
  src/server/db.js
  src/server/db.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write

small fix
  src/server/db.js
Due: eslint --fix, prettier --write

split dbs to separate files
  src/server/db.js
  src/server/db/firebase.js
  src/server/db/firebase.test.js
  src/server/db/index.js
  src/server/db/inmemory.js
  src/server/db/inmemory.test.js
  src/server/db/mongo.js
  src/server/db/mongo.test.js
Due: eslint --fix, prettier --write

missing imports fixed
  src/server/db/index.js
Due: eslint --fix, prettier --write

really fixed imports this time
  src/server/db/index.js
Due: eslint --fix, prettier --write

fixed error caused by removed db.js and added Firebase
  packages/server.js
Due: eslint --fix, prettier --write

simplified db init and made suggested changes for tests
  src/server/db/firebase.js
  src/server/db/firebase.test.js
  src/server/db/index.js
  src/server/db/index.test.js
  src/server/index.js
  src/server/index.test.js
Due: eslint --fix, prettier --write
